[2021-09-03 09:47] chefk5 commented on #621
@RoBYCoNTe  solution fixed the issue for me.

[2021-09-03 11:06] tdekoning commented on #600
We're also seeing this issue on our production app. Mainly on Huawei (P30 lite, P smart Z, Mate 20 lite, Y6 2019, Honor 10 lite) devices and budget Samsung (A50 and A32) devices

[2021-09-04 11:45] olosegres commented on #615
Man, redirectUrl is a part of oauth2 and this lib use it to handle response from auth server and resolve promise of `authorize` function. So you should handle this resolve and redirect user whatever you want in your app.

p.s. I was just passing by, sorting out another problem

[2021-09-06 07:03] GrandjeanIo commented on #600
We're also seeing the issue. For now only on Honor 8X (Android 10)

react-native: 0.65.1
react-native-app-auth: 6.4.0

[code]

[2021-09-06 12:23] ganeshpatil3 commented on #667
Reminder,
    As we have less than one month facebook stop login from webviews, as we are using the "react-native-app-auth" for facebook login. But we are not sure the "react-native-app-auth" library is internally using webview or custom tabs for facebook login.

Please update after Facebook stops login support on Android WebViews our application will work as it is or we require to do any implemen

[2021-09-12 21:02] blabz2007 opened #669 "The operation couldn’t be completed. (org.openid.appauth.general error -3"
## Issue

I get the prompt once to log into my authorization server and it works. All attempts after the prompt to login shows up for a split second, then I receive this error -

[Error: The operation couldn’t be completed. (org.openid.appauth.general error -3.)]

---

## Environment

Using IdentityServer4 on iOS no expo

Any help greatly appreciated

[2021-09-13 13:18] AshCoolman opened #670 "FitBit: Non-200 HTTP response (401) making token request to 'https://api.fitbit.com/oauth2"
## Issue

`authorize` raises this exception in JavaScript:
[code]
which includes:

[code]

---

## Background

Our web authflow for Fitbit takes the auth `code` (appended to `redirect_url` by FitBit) and sends that to a backend endpoint we wrote, which gets the token.

We do this because we do not want the `client_secret` in the client code.

## The problem

My understanding is that this library a

[2021-09-13 14:56] ganeshpatil3 commented on #667
Hi,
   Anyone can confirm that after facebook stops login from webview, will that impact on our facebook login  using "react-native-app-auth" library. We are waiting for confirmation from "react-native-app-auth" library but didn't get any comments that it will impact or will not impact on current production app.

[2021-09-13 16:01] MattSynaptic commented on #469
The documentation wasn't working for me and then I realized I actually had to also add `#import <React/RCTLinkingManager.h>` to `AppDelegate.m` for it to work.

[2021-09-14 23:47] peterkarman1 commented on #598
upgrade to latest app-auth package. resolved there

[2021-09-16 16:51] kvntzn commented on #600
any updates on this ? experiencing this only on production app

[2021-09-19 10:10] vitorverasm commented on #661
I'm searching for this too!

[2021-09-19 17:33] ali2245 opened #671 "Dark Mode"
is this library support dark mode ?

[2021-09-20 13:11] Atin007 commented on #661
Not yet.

[2021-09-22 06:59] BajrangS opened #672 "react-native-app-auth module getting crashed in Android"
## Issue

Firebase crashlytics report below crash issue in react-native app Android. There is no issues in iOS.

Caused by java.lang.NullPointerException
Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference

com.rnappauth.RNAppAuthModule.onActivityResult (RNAppAuthModule.java:414)

---

## Environment

* **Your Identity Provider**: `e.g. IdentitySe

[2021-09-22 13:15] anisimov74 commented on #494
It's inconvenient to have different schemes, because we have to add this additional scheme on the server side.

[2021-09-22 15:40] jpdriver commented on #671
hi @ali2245 👋🏻

This library is a simple React Native wrapper that exposes the native AppAuth SDKs. It doesn't have anything to do with dark mode.

hope that helps!

[2021-09-22 15:40] #671 closed

[2021-09-22 15:41] jpdriver commented on #661
hey @Atin007

yes -- this library fully supports Azure AD. You can find a usage guide [here](https://github.com/FormidableLabs/react-native-app-auth/blob/main/docs/config-examples/azure-active-directory.md)

if you have a specific question or issue please feel free to reopen this

[2021-09-22 15:41] #661 closed

[2021-09-23 09:35] anisimov74 commented on #494
@badsyntax could you please clarify what exact configuration do you have in Manifest.xml?
I tried both `appAuthRedirectScheme: 'com.myapp.oauth'` with and without intent
[code]
The redirect URL is `com.myapp.oauth://landing.url`
**I'm not been redirected back into the app**.

I have the following intent, related to deep linking
[code]

[2021-09-23 13:12] badsyntax commented on #494
@anisimov74 i can't share my manifest file as it contains a bunch of other activities and it will just confuse others. I can say that instead of using `appAuthRedirectScheme ` I ended up explicitly adding the `RedirectUriReceiverActivity` activity into my AndroidManifest.xml:

[code]

I see you've tried the same, but your sheme looks wrong to me. Should `com.myapp` be `com.myapp.oauth`?

[2021-09-23 13:14] anisimov74 commented on #494
@badsyntax thank you for the quick response. I just typed a wrong string. It's definitely `com.myapp.oauth`.

[2021-09-23 13:22] badsyntax commented on #494
@anisimov74 what do you mean you can't make a project? What is the error?

[2021-09-23 13:41] anisimov74 commented on #494
@badsyntax that seems to be some sort of cache problem. After switching between branches, that error has gone.
I have the only change in Manifest.xml.
Still no redirect. Any thoughts?
[code]

[2021-09-23 13:45] badsyntax commented on #494
@anisimov74 does the `redirectUrl` in the config you pass to `authorise()` match the scheme?

[2021-09-23 13:48] anisimov74 commented on #494
@badsyntax yes it is. It's `com.mobile.app.oauth://landing.url`

[2021-09-23 13:50] anisimov74 commented on #494
@badsyntax and I see that in logs
[code]

[2021-09-23 13:54] badsyntax commented on #494
Can you try without the landing.url host? So remove `android:host="landing.url"`. That's really the only difference I can tell. When you say "still no redirect", what exactly is happening after you authenticate?

[2021-09-23 14:22] anisimov74 commented on #494
@badsyntax tried without `android:host="landing.url`. After entering credentials I see a Chrome tab.

[2021-09-23 14:36] badsyntax commented on #494
I'm out of ideas. IMO it would be useful if this repo has a reactnavigation example that people can refer to.

[2021-09-23 14:38] anisimov74 commented on #494
@badsyntax thank you for helping me! Will try more variants.

[2021-09-23 14:51] anisimov74 commented on #494
@badsyntax the last question. How is look like your redirectUrl param? Does it matter what is the after `://`?
`com.mobile.app.oauth://oauth` or `com.mobile.app.oauth://oauth.url`?

[2021-09-28 16:04] therunbuddy opened #673 "Support for Auth0 Social Login"
Would it be possible to add support for Auth0 social login so that you can login via google/facebook without having to open the Auth0 universal login page?

[2021-09-29 14:36] anisimov74 commented on #494
I figured out the cause of the problem. There is a In Manifest.xml `android:taskAffinity=""`. Which should prevent possible phishing via task hijacking.

[2021-09-29 14:40] anisimov74 opened #674 "[Android] No redirect back to the app"
## Issue

There is no redirect back to the app, If `MainActivity` in the Manifest.xml contains `android:taskAffinity=""`.
This settings should prevent possible phishing via task hijacking.

---

## Environment

* **Your Identity Provider**: `IdentityServer 4`
* **Platform that you're experiencing the issue on**: `Android`
* **Pure React Native project**

[2021-09-30 15:21] sagupta1001 commented on #600
+1 seeing this in our React native project as well.
Using react-native-app-auth 6.2.0 and react-native 0.64.1.

[2021-09-30 15:58] Nirodha26 opened #675 "Setting prompt as 'login' in additionalParameters result in authorize error"
## Issue

I want to enable entering login credentials in each login attempt using authorize() method. In order to achieve this i have set additionalParameters as { prompt: 'login' }. But this results in following error.

`State mismatch, expecting IDkGeIxCj943aGDU9KW7_WikaGwLrmg3rb8bxuvIiCw but got (null) in authorization response <OIDAuthorizationResponse: 0x6000021030c0, authorizationCode: (null

[2021-10-04 03:06] whithajess commented on #653
@kadikraman Any change of a release for this fix? Thanks.

[2021-10-04 11:59] mharrisweb opened #676 "java.lang.NullPointerException error"
## Issue

WHen using the latest version 6.4.0 I get the error below can anyone help?

[code]

---

## Environment

* **Your Identity Provider**: `e.g. IdentityServer 4 / Okta / Azure`

* **Platform that you're experiencing the issue on**: `iOS / Android / both`

Android

* **Are you using Expo?**

No

[2021-10-05 12:06] AmaanKulshreshtha commented on #403
Just to clarify,

When writing the manual config,

[code]
`common` is a placeholder for the `tenant-id` as well, right?

[2021-10-05 13:15] mattwoberts commented on #403
At the risk of further complicating it @AmaanKulshreshtha , IIRC, `common` is not a placeholder, it's what you use when you don't want to tie the auth down to a specific tenant (which is what I wanted).

So my manual config looks like this (i.e. there are no placeholders for tenantId in them)

[code]

[2021-10-05 18:53] AmaanKulshreshtha commented on #403
But if I want to tie it down to a tenant id, then I'll replace `common` with that tenant id, right ?

[2021-10-06 14:29] sanjib-tatva opened #677 "authentication_failed Error messages"
Getting authentication_failed Error messages in Values  on the code field only in iOS, in android working fine.

[2021-10-07 10:16] tatva-hiral commented on #602
Facing the same error, not able to find out a possible solution, the same configuration was working in "react-native": "v0.61.5" and "react-native-app-auth": "5.1.3" but we need to upgrade the whole project with the latest version, Anyone please help on this?

Thank you in advance.

[2021-10-11 05:52] justinairbase commented on #672
Here's the crash log from my app
[code]

[2021-10-12 00:05] Goutham-Elangovan opened #678 "On login success, the scopes in the response are empty."
## Issue
I'm trying to use login using Azure active directory. The login succeeds but the response after success returns "scopes:[]"

I'm assuming that this is the reason why im not able to succeed my API call. It currently returns [401 error.](geeksforgeeks.org/how-to-fix-a-401-unauthorized-error/#:~:text=The%20401%20Unauthorized%20Error%20is,request%20could%20not%20be%20authenticated.) (accessTo

[2021-10-12 14:44] andrejhristovski opened #679 "`handleAuthorize()` doesent work on targetSdk 30"
## Issue
I needed to upgrade my targetSdk to 30 so i can add the app to google play, but for some reason the authentication stops working, when i call `handleAuthorize()`  it doesn't work , it throws `Error: Error not specified.`

---

## Environment

* **Your Identity Provider**:  IdentityServer 4
* **Platform that you're experiencing the issue on**: `iOS / Android / both`
* **Are you using Expo?

[2021-10-13 17:05] yudiz-harshad opened #680 "invalid request"
## Issue

https://sso.sbx.edenred.io/connect/authorize?response_type=code_id=989acfb423ba4f9f944f1819da89abe7=openid%20edg-xp-mealdelivery-api%20offline_access_uri=http://nowhere.edenred.com/callback=abc123=456azerty_values=tenant:tr-ben_locales=tr

When i try to open this url in web it redirect me to auth page but in react native app its not working and giving error of invalid_request. Below is t

[2021-10-13 20:31] haresh12 commented on #680
Actually in library code example you can see that it has single / redirect url and when I was using that it was working fine so not sure what’s issue with this

[2021-10-14 05:09] badgeek commented on #651
could you point out the code to fix this?

[2021-10-14 06:03] badgeek commented on #651
@khamisEDX

thanks!

[2021-10-14 11:57] TonyFTannous commented on #471
hello everyone, any news about this feature, is there any solution, i need to logout but i can't. in android i can, but in ios i can't

[2021-10-14 12:01] TonyFTannous commented on #622
I'd be interested in this feature being added, any news

[2021-10-19 02:01] #678 closed, assigned to nobody

[2021-10-21 12:09] mrbrentkelly commented on #679
Experiencing a similar issue after updating to React Native 0.65.1 and Android SDK 30. When calling `authorize` from `react-native-app-auth` (v5.1.1) the following error is returned...

[code]

Going to try updating to the latest version of react-native-app-auth to see if that helps any 👍

[2021-10-21 14:54] ll1314xh opened #681 "Undefined is not an object (evaluating 'RNAppAuth.authorize')"
## Issue

I just made a simple configuration:
1). npm i react-native-app-auth
2). pod install
3). use await authorize(config);
But there still tips RNAppAuth.authorize is undefined, i found in the node_modules/react-native-app-auth/index.js, the
 NativeModules is still null, i don't know what should i to configuration
---
![2381634827500_ pic_hd](https://user-images.githubusercontent.com/75356138/

[2021-10-21 20:03] HalimaHanafy opened #682 "New access token coming from refresh token not updated by new info in access token !!"
## Issue

New access token coming from refresh token not updated by new info in access token !!
i ordered new refresh token , i got it but contains old data ,
to get updated data in my access token i had to log out and log in again to get new updated access token !!

any suggestions about this problem please??
---

## Environment

* **Your Identity Provider**: `IdentityServer 4`
* **Platform that

[2021-10-22 02:33] #681 closed

[2021-10-26 10:33] francisleigh opened #683 "authorize: JSON error parsing token response: The data couldn’t be read because it isn’t in the correct format."
## Issue
I am getting an error back from my `authorize` call. The issue occurs on Staging and Dev but i haven't touched any of my env's that power the `serviceConfiguration` and Production are fine.

If anybody could help that would be great. Thank you 😄

---

## Environment

* **Your Identity Provider**: `OAuth`
* **Platform that you're experiencing the issue on**: `both`
* **Are you using Expo?*

[2021-10-27 08:56] #683 closed, assigned to nobody

[2021-10-30 12:58] Vikasatneaxus commented on #401
any one have fixed this error
[Error: Network error]

[2021-11-01 10:43] raffaeler commented on #380
I tried with google provider (oAuth of course) and none of the above suggestions worked for me.

[2021-11-01 14:06] Robiullah2244 commented on #526
In my case, do not log out from the internal browser when logout from my app. For that, if I add `additionalParameters: { prompt: 'login' }`, then the browser takes me to the website as the logged-in user. Do you have any solution to this situation? I will be glad if you help me out

[2021-11-04 06:55] DharmikSuccessive commented on #621
Issue still open, Any work around or solution?

[2021-11-08 13:56] anshpat2826 commented on #621
Any solution for it?

[2021-11-10 15:37] aithashi opened #684 "App crash before opening the web window"
## RNAppAuth.authorize got 15 arguments, expected 14

---

## "react-native-app-auth": "^6.0.1",
    "react": "17.0.2",
    "react-native": "0.66.2",

* **Your Identity Provider**: `Azure`
* **Platform that you're experiencing the issue on**: `Android`
* **Are you using Expo?** NO

[2021-11-11 10:51] AlkanV commented on #679
we have the same issue at the moment. After updating to targetSdk: 30, we started to get this error. Below android 11 devices, it is working.

[2021-11-11 13:02] ANIBIT14 commented on #676
I am also getting the same error

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference

Stack trace is

com.rnappauth.RNAppAuthModule.onActivityResult RNAppAuthModule.java:419
com.facebook.react.bridge.ReactContext.onActivityResult ReactContext.java:305
com.facebook.react.ReactInstanceManager.onActivityResult ReactIn

[2021-11-11 14:47] andrejhristovski commented on #679
In `android/app/build.gradle` add ` implementation 'net.openid:appauth:0.8.1'`
[code]
Also, i changed gradle version in `android/build.gradle` to `4.0.1`
[code]

This worked for me, hope it helps you

[2021-11-11 15:35] dfberg commented on #684
This solution worked for me. Thanks!

[2021-11-11 17:02] JulianKingman opened #685 "Error while updating prop fontWeight, java.lang.Double cannot be cast to java.lang.String"
## Issue

```Error while updating prop fontWeight, java.lang.Double cannot be cast to java.lang.String```

I get this error when logging in if:
 - The phone is a Google Pixel
 - Brave is set as default browser

For another user with a pixel and brave, it cancels the flow instead of crashing (it says user cancelled flow as soon as they enter the text input to change the email/password).

I've check

[2021-11-14 16:14] maxzinovev commented on #453
@pke Thanks! it worked for me

[2021-11-17 05:27] justinairbase commented on #676
@ANIBIT14 Your issue is related to #672

[2021-11-17 06:09] justinairbase commented on #600
Still facing this issue on latest version of `react-native-app-auth`
[code]

[2021-11-18 09:20] thijs-qv commented on #586
This is a bug in iPadOS, and is fixed in 14.5.

[2021-11-18 13:03] Rachana-red opened #686 "Unable to receive access token"
Using below configuration:

 issuer: 'https://demo.identityserver.io/',
 clientId: 'MobileApp',
 usePkc:true
 redirectUrl: 'com.appName://callback',
 scopes: ['openid','offline_access','profile','api1']

It is redirecting to application after login but getting the following response with null tokens.
Using Identity Server 4

Server config:
var client = new Client
{
  ClientId = "MobileApp",
  Clie

[2021-11-20 16:35] scottaric opened #687 "Unknown field "redirect_uri" using refresh on DropBox"
## Issue

When calling `refresh` using the same config as when the original access token was acquired, the call fails with error text 'unknown field "redirect_uri"'.  The config does in fact specify the `redirectUrl`.

---

## Environment

* **Your Identity Provider**: `DropBox`
* **Platform that you're experiencing the issue on**: `Android`
* **Are you using Expo?** `No`

[2021-11-23 09:55] vinhtranhti opened #688 "iOS crashed when request login Google"
## Issue
const config = {
      issuer: 'https://accounts.google.com',
      clientId: Config.IOS_CLIENT_ID,
      redirectUrl: Config.IOS_REDIRECT_URL,
      scopes: ['openid', 'profile', 'email'],
    }
authorize(config)
      .then((result) => {
        console.log('result', result)
      })
      .catch((e) => {
        console.log('handleLoginGg e', e)
      })

Crash log:

Fatal Exception: N

[2021-11-23 12:55] Rachana-red commented on #686
Unable to receive access token -
Please help me with the above concern.

[2021-11-26 09:42] DavidReinberger commented on #681
Hey @ll1314xh I can see you've closed the issue by yourself, have you found a solution to the problem? Do you think you could share it here? We are currently facing the same issue and struggling to find a working solution. Thanks

[2021-11-29 15:34] edwardkes opened #689 "Hiding the url address bar"
I use Azure B2C for the authentication on my app.
Whenever I call for the authentication on both platforms Android/iOS - it opens the in-app browser.
I wanted to know if it's possible to hide the address bar from that browser?

[2021-11-30 00:50] hugo-chq commented on #679
Getting the same "Invalid ID Token" error on android 31,  react-native 0.66.3

the fix didn't seem to work for me, although everything still works on android 29

[2021-12-05 10:19] itsVinodh commented on #171
If we don't have the revocation endpoint, how can we sign out?

[2021-12-06 09:45] prasidhda opened #690 "Error not specified. at Object.promiseMethodWrapper [as authorize] (NativeModules.js:103) at authorize (index.js:213)"
## Issue
All of sudden login with google in Android throws the following error.
Error not specified.
    at Object.promiseMethodWrapper [as authorize] (NativeModules.js:103)
    at authorize (index.js:213)

---

## Environment

* **React native**: `0.63.4`
* **react-native-app-auth**: `6.1.0`
* **Are you using Expo?**: `No`

[2021-12-07 07:29] skanwarjeet opened #691 "Getting User cancelled flow in android while working with azure ad b2c"
## Issue

I'm using react-native-app-auth to get access token from azure ad b2c but I'm facing issues in android and in IOS
in android it's showing error that
`Unable to complete authorization as there
is no interactive call in progress. This
can be due to closing the app while the
authorization was in process.`
I also added screenshot of that
![Screenshot_1638860995](https://user-images.githubuse

[2021-12-07 18:05] fbeccaceci opened #692 "Android authentication failed idToken not vaild"
## Issue

I'm trying to implement google login with oauth2, it worked the first time, then the day after i open the project and every time i try to refresh the token or get a new one i get this error "Invalid ID Token"

On ios it works as expected

This is my code
[code]

---

## Environment

* **Your Identity Provider**: `Google`
* **Platform that you're experiencing the issue on**: `Android `
*

[2021-12-07 18:22] #692 closed

[2021-12-10 23:39] jakecurreri opened #694 "State mismatch for custom provider"
## Issue

I'm integrating a custom OAuth provider `secondProvider` into `react-native-app-auth`. The app is already integrated with Okta, so this would be the 2nd provider used in the app.

I have no problem using OAuth2 through Postman with the exact same configuration and callback URL. But, when I attempt to authenticate through `react-native-app-auth`, I get a "State mismatch..." error.

The ap

[2021-12-14 23:52] maoapp commented on #669
any solution for this ?

[2021-12-14 23:52] maoapp commented on #618
any solution for this ?

[2021-12-17 21:11] BlinkVonDoom commented on #582
Hitting the same issue with:

xcode: 13.1 (13A1030d)
react: 17.0.2
react-native: 0.66.4
react-native-app-auth:  6.4.0

ios fails with the above code, builds locally.
Android compiles without issue.

Has anyone found a solution for this?

[2021-12-20 09:26] karthikrsubs opened #695 "Example React Native With Emulator Not working"
We are trying to use Project given in github examples of React-Native-App-Auth with Keycloak, Keycloak is install in same machine where we are building the example too.
i.e localhost keycloak,
We are unable to bring the Keycloak UI Page itself
Can some one help in reviewing our settings.

[2021-12-20 20:10] EuriskoEDeek commented on #171
Upon logging out i am replacing authorizationEndpoint with the logout endpoint. The user manage the sign out but the authorize method is throwing an error

how to get rid of this error ?
is there another way to implement the sign out using this library ?
Tried revoking but the cookies in the browser are not being cleared.

[code]

[2021-12-21 09:38] yberstad commented on #669
I'm also getting this, I'm running

    "react-native-app-auth": "6.4.0",
    "react-native": "0.66.3",

[code]

@maoapp or @blabz2007, have you found a solution?

[2021-12-21 15:12] liatnetach commented on #442
@ThomasLarge I need to do it also (to split the flow) but when I send the {res.authorizationCode} to my server so they can exchange the code for token - they get unauthorized_client error
did it happen to you as well?

[2021-12-21 15:56] ThomasLarge commented on #442
@liatnetach it's hard to look into without seeing your code but I did the following:

[code]

I would confirm `authorizationCode` has a value you are expecting and maybe check your server side code?

[2021-12-21 16:38] liatnetach commented on #442
@ThomasLarge thanks for the quick reply !
I took those parameters as well.
did you exchange the code for token from the app itself or from server?

*If im removing the skipCodeExchange from the config file the authorize function finish successfully so I don't get it what is the difference

[2021-12-22 07:57] liatnetach opened #696 "issues when using skipCodeExchange=true"
## Issue
I have 2 weird issues while trying to define skipCodeExchange=true in the configuration file:

1. In **Android**- i'm not getting the state parameter from the authorize response, and in IOS I get it.
what can be the problem and most important how can I fix it?

2. how can I use https redirect link? when Im using non https everything work has should and the browser does closed (both ios an

[2021-12-23 16:45] liatnetach commented on #624
@aditya38112 , can you please explain a little bit more what you did so https redirect url will actually redirect the user?

currently when Im using non http scheme it redirect me and everything is working.
but I need https redirect_uri and it doesn't redirect me after , just stack in the web session the autorize() opened.

I defined my native redirectActivity similar to that:

`<data android:sche

[2021-12-24 09:39] brijpatel6080 commented on #623
Getting the error after installing the react-native-msal plugin when build bundle can you explain how to install properly ? @aditya38112

[2021-12-24 09:42] SebastianGrzymala commented on #563
To get directly into registration screen in Keycloak you must use authorize method with extra config:
[code]

[2021-12-27 07:55] djolosc commented on #692
Hey @fbeccaceci did you manage to solve the issue? As I am getting the same error here?

[2021-12-28 08:22] oferRounds commented on #660
Hey @AlysCole, have you found solution to this issue? Seeing it also

[2021-12-28 13:42] fbeccaceci commented on #692
I found out that the emulator i was using (Android 12 pixel 5) didn't manage to update the system date correctly so the emulator time was a random day in the past and this causes the authentication to fail, i created a new emulator with android 11 and set the date to the correct day and since then everything worked well

[2021-12-28 15:00] djolosc commented on #692
Perfect, thank you. It works like a charm! :)

[2021-12-28 15:08] liatnetach commented on #203
@mjniday hey, sorry for bothering you after all this time, but i need to add the custom scheme in my Azure portal, where exactly should I put it?
I have also Web Platform but there is isn't a possibility to add redirectUrl with custom scheme..

[2021-12-29 14:49] Willian-Rodrigues commented on #494
1
change package name in redirectUrl
com.YOUR_APP => com.YOUR_APP.auth

[code]

2
change the package name on the google website
com.YOUR_APP => com.YOUR_APP.auth

3
in `build.gradle`
[code]

[2021-12-30 17:19] #660 closed

[2022-01-05 07:24] liatnetach opened #698 "AAD code exchange error invalid_client"
## Issue

Hey, I have issues while trying to login with Azure.
my flow is split (using skipCodeExchange=true) cause My server do the other part of the flow (token endpoint).
I think I may have a problem with state mismatch - cause as part of this library you generate random state for me, how can I override it?

Generally I'm getting Invalid_client error at the code exchange phase.

I have to menti

[2022-01-10 18:31] mcaranay commented on #376
Anyone got the solution for this? Im feeling lost and been doing a lot following what i can see here and Stack-overflow but with no luck.

[2022-01-13 14:58] shivika24 opened #699 "Hiding URL bar for an in-app browser"
Is there any way, we can hide the url bar in the in-app browser.

I am using this package for Azure-AD B2C, so in that when we try to signIn or signUp, an in-app browser opens by default with the issuer url provided. So there should be some functionality in which either we can customise the in-app browser or we can hide the url bar in the in-app browser.

[2022-01-16 10:38] RukshanWithanage opened #700 "No redirect back to the App Spotify [Android, IOS]"
**When login success there is no redirect back to the app.**

I have set up below configurations

[code]
**on build.gradle**

[code]
And also I have updated **redirect URI**,  **Android Package Name**, **SHA1 Fingerprint** on the Spotify dashboard. Everything is working except redirecting back to the App.  :(

[2022-01-17 08:48] jerryMaxpaine commented on #700
Same issue  :(

[2022-01-18 18:48] Jay-A-McBee commented on #148
👋 hey @nainishmodi - this issue has been sitting around for a while so we're going to close it out. Feel free to open a new issue if this is still a problem.

[2022-01-18 18:48] #148 closed

[2022-01-18 18:49] Jay-A-McBee commented on #214
:wave: hey @cheft - closing this out due to lack of information/engagement. Feel free to open a new issue if this is still a problem.

[2022-01-18 18:49] #214 closed

[2022-01-18 18:53] Jay-A-McBee commented on #287
:wave: hey everyone - closing this out as it sounds like an IDP configuration issue.

[2022-01-18 18:53] #287 closed

[2022-01-18 19:36] Jay-A-McBee commented on #318
:wave: hey @davidbani -  The refresh method does not use `performActionWithFreshTokens` - it uses the `performTokenRequest` method - https://openid.github.io/AppAuth-iOS/docs/latest/interface_o_i_d_authorization_service.html#aedf588e591cd38c97b222b58522fc758.

If the id token is still valid, is there a need to call `refresh` proactively?  Closing this out because it seems like this is expected beh

[2022-01-18 19:36] #318 closed

[2022-01-18 19:43] Jay-A-McBee commented on #322
:wave: hey @johnyyhign - closing this out as it appears to be a third-party issue (AppAuth-Android) - https://github.com/openid/AppAuth-Android/issues/473

[2022-01-18 19:43] #322 closed

[2022-01-18 21:53] Jay-A-McBee commented on #359
:wave: hey everyone - it sounds like spsaucier was able to come to a resolution on this. Closing this out.

[2022-01-18 21:53] #359 closed

[2022-01-18 22:29] Jay-A-McBee commented on #336
:wave: hey @Hasan-Jawaheri  - closing this out due to lack of engagement on the issue. Feel free to open a new issue if this is still a problem.

[2022-01-18 22:29] #336 closed

[2022-01-18 22:32] Jay-A-McBee commented on #116
Closing this out since we can't recreate it, and there was no response to Kadi's request for a specific/problematic IDP.

[2022-01-18 22:32] #116 closed

[2022-01-18 23:37] Jay-A-McBee commented on #452
@carloslibardo as you mentioned the library `AppAuth-iOS/Android` does not support the implicit auth flow.  In general, the implicit flow is discouraged for native apps. It's now even considered legacy for JS web apps - closing this out.

[2022-01-18 23:37] #452 closed

[2022-01-21 17:51] Jay-A-McBee commented on #380
Closing this out - unable to recreate this bug. If it's still an issue, feel free to open a new issue with step to reproduce this bug.

[2022-01-21 17:54] Jay-A-McBee commented on #390
Note this error in the callstack

Use`dangerouslyAllowInsecureHttpRequests: true` if your authentication request targets a remote resource that uses `http` protocol.

Closing this out.

[2022-01-21 17:54] #390 closed

[2022-01-21 19:10] Jay-A-McBee commented on #453
This can be supported on Android by updating the manifest as @Pasi-D illustrated.

On iOS this is [an existing issue](https://github.com/openid/AppAuth-iOS/issues/232) in the backing library `AppAuth-ios`. These providers that require `https` protocol for the redirect url have omitted implementation of a vital part of the OAuth 2 spec for [native app support](https://datatracker.ietf.org/doc/html/

[2022-01-21 19:10] #453 closed

[2022-01-21 19:20] Jay-A-McBee commented on #483
@dardino Closing due to lack of engagement - feel free to open a new issue.

[2022-01-21 19:20] #483 closed

[2022-01-21 19:29] Jay-A-McBee commented on #476
Closing - fixed by https://github.com/FormidableLabs/react-native-app-auth/pull/475

[2022-01-21 19:29] #476 closed

[2022-01-21 19:31] Jay-A-McBee commented on #523
:wave: hey @bshyong - closing this out due to lack of engagement. Feel free to open a new issue.

[2022-01-21 19:31] #523 closed

[2022-01-24 16:39] asamiz commented on #699
@shivika24 Did you find a way to hide the URL?

[2022-01-24 16:54] shivika24 commented on #699
No.

[2022-01-24 20:37] Jay-A-McBee commented on #506
:wave: hey @3dwesupport - closing due to lack of engagement. Sounds like a mis-configuration of the redirect url in your manifest file. Feel free to open a new issue.

[2022-01-24 20:37] #506 closed

[2022-01-24 21:06] Jay-A-McBee commented on #481
:wave: hey @SocialBrothersDEV - as aeirola stated this is a security feature of the Chrome browser. A common solution that I have come across is to have an interstitial html page used as your redirectURI. This page will provide the button for user interaction.

On redirect, the interstitial page will open in the browser  used for authentication- the url will contain all the relevant auth params. T

[2022-01-24 21:06] #481 closed

[2022-01-24 21:10] Jay-A-McBee commented on #490
Closing due to lack of engagement - @vincentmarkcelino feel free to open a new issue.

[2022-01-24 21:10] #490 closed

[2022-01-24 21:22] Jay-A-McBee commented on #491
Closing due to lack of engagement/ no shared repro steps or configuration.

[2022-01-24 21:22] #491 closed

[2022-01-24 21:32] Jay-A-McBee commented on #494
Closing this due to subject drift - sounds like a configuration issue. Creating redundant intent handlers by using both the manifest and manifestPlaceholders in build.gradle.

[2022-01-24 21:32] #494 closed

[2022-01-24 21:36] Jay-A-McBee commented on #507
:wave: hey @prasanthsd it looks like your redirect url is also missing a trailing slash `/` - closing this out since there's been no response in a while. Feel free to create a new issue if adding a slack doesn't fix your issue.

[2022-01-24 21:36] #507 closed

[2022-01-24 23:42] Jay-A-McBee commented on #527
:wave: hey @hdayakar - I'm closing this issue due to lack of information and engagement. If this is still an issue, please provide the config you are using and the OAuth provider that you are targeting.

[2022-01-24 23:42] #527 closed

[2022-01-24 23:43] Jay-A-McBee commented on #529
Closing due to lack of information.

[2022-01-24 23:43] #529 closed

[2022-01-24 23:49] Jay-A-McBee commented on #538
Closing due to lack of response.

[2022-01-24 23:49] #538 closed

[2022-01-24 23:51] Jay-A-McBee commented on #554
Closing due to unresponsiveness.

[2022-01-24 23:51] #554 closed

[2022-01-24 23:53] Jay-A-McBee commented on #558
Closing due to lack of engagement.

[2022-01-24 23:53] #558 closed

[2022-01-24 23:58] Jay-A-McBee commented on #684
Closing as OP found a solution.

[2022-01-24 23:58] #684 closed

[2022-01-24 23:59] Jay-A-McBee commented on #561
Same as https://github.com/FormidableLabs/react-native-app-auth/issues/684 - ball-hayden's suggestions seems to be the solution. Closing this out.

[2022-01-24 23:59] #561 closed

[2022-01-25 00:07] Jay-A-McBee commented on #576
Closing due to lack of information. @gchowdhari we have a working example for both Azure AD and Azure AD B2C. Please reference the [config examples](https://github.com/FormidableLabs/react-native-app-auth/tree/main/docs/config-examples) and open a new issue if this is still a problem.

[2022-01-25 00:07] #576 closed

[2022-01-25 00:12] Jay-A-McBee commented on #580
Closing due to lack of engagement and OP using alternate provider. If you found this issue and are still experiencing issues with IBM App ID, please create a new issue.

[2022-01-25 00:12] #580 closed

[2022-01-25 00:19] ahmed-abdelkader-00 commented on #602
Did you figure out what the problem was, i am getting the same error

[2022-01-25 00:20] Jay-A-McBee commented on #601
Closing due to lack of response from OP. Sounds similar to https://github.com/FormidableLabs/react-native-app-auth/issues/684.

[2022-01-25 00:20] #601 closed

[2022-01-25 00:24] Jay-A-McBee commented on #603
Closing due to lack of response from OP.

[2022-01-25 00:24] #603 closed

[2022-01-25 00:55] Jay-A-McBee commented on #615
The `redirectUrl` is what triggers the redirect from the browser (where the user logged in) back to your app (which has registered the redirect url's scheme as something the app should handle and not the browser.)

The UI displayed by your app when the user leaves to authenticate will be the same when the user returns until the state value that signifies the user is now authenticated is updated. O

[2022-01-25 00:55] #615 closed

[2022-01-25 05:45] badsyntax commented on #615
@Jay-A-McBee thanks for the suggestions. There's a couple different approaches I can take, now that I understand that redirectUrl is not used as a deeplink. (Imo docs could be improved to explain this.)

[2022-01-26 20:15] Jay-A-McBee commented on #700
@obereignermichael  - the OP's issue is related to spotify which doesn't require `https` protocol for redirect urls. There's more leg work required to use an https redirect in iOS. You would need to setup a "universal link" and a two-way app/domain association. You may have already done this, but if not here's a link to the [Apple docs](https://developer.apple.com/documentation/xcode/allowing-apps

[2022-01-26 20:44] Jay-A-McBee commented on #651
Closing due to lack of information - feel free to open a new issue.

[2022-01-26 20:44] #651 closed

[2022-01-26 20:58] Jay-A-McBee commented on #667
Closing this out - The backing library `AppAuth-Android` uses custom tabs when available so this should not be an issue.

[2022-01-26 20:58] #667 closed

[2022-01-26 21:03] Jay-A-McBee commented on #648
Universal links can be configured to be more granular - see the [applinks config here](https://developer.apple.com/documentation/bundleresources/applinks).  Closing this out - beyond the scope of this library.

[2022-01-26 21:03] #648 closed

[2022-01-26 21:18] Jay-A-McBee commented on #615
@badsyntax you can set up deep-linking to act on these incoming links - https://reactnative.dev/docs/linking.

[2022-01-26 21:23] Jay-A-McBee commented on #645
closing - fixed by https://github.com/FormidableLabs/react-native-app-auth/pull/640.

[2022-01-26 21:23] #645 closed

[2022-01-26 21:26] Jay-A-McBee commented on #598
@jlordi70 this was a long time ago, but can you confirm if this is still an issue or not?

[2022-01-26 21:26] #598 closed

[2022-01-26 21:45] Jay-A-McBee commented on #636
The initial login request is waiting for the configured `redirectUrl` to get called. This would trigger the close of the webview. Your client registration service would need to redirect to this url upon successfully registering a client. This will result in an error though because it deviates from the expected flow of the app auth libraries.

I would suggest splitting these into a separate view/se

[2022-01-26 21:45] #636 closed

[2022-01-26 22:00] Jay-A-McBee commented on #579
Closing this out because this is not an issue with the library. These concurrent animations that are colliding occur after the library has resolved/rejected the auth requests.

[2022-01-26 22:00] #579 closed

[2022-01-26 23:47] Jay-A-McBee commented on #631
:wave: hey. @damithg-dev - I don't think you'll be able to use this library to integrate ebay OAuth. There is a check within the native backing libraries that will compare the `redirectUrl` passed on the config object to the incoming url from the idP. [iOS code ](https://github.com/openid/AppAuth-iOS/blob/e191b1beadf3041259652e6e464eaceff16e5fbb/Source/AppAuthCore/OIDAuthorizationService.m#L170) -

[2022-01-26 23:55] Jay-A-McBee commented on #569
On iOS you'll need to follow the Apple documentation to register a "universal link" that your app can claim. A universal link is a standard `https:<domain>/<path>/` formatted url that will open in your app instead of in a browser. There are some more details around it covered [here](https://developer.apple.com/documentation/xcode/allowing-apps-and-websites-to-link-to-your-content?preferredLanguage

[2022-01-27 00:01] Jay-A-McBee commented on #627
500 is an internal server error - Since you are using an internal idp, why not report this error server side or have this page that is loading in a browser tab report it? Closing this out - This error is occurring within the idp's code and not the code of this library or the backing libraries.

[2022-01-27 00:01] #627 closed

[2022-01-27 00:03] Jay-A-McBee commented on #623
Closing this out due to lack of configuration info and topic drift.

[2022-01-27 00:03] #623 closed

[2022-01-27 00:04] Jay-A-McBee commented on #568
Closing this out - outside of the scope of this library.

[2022-01-27 00:04] #568 closed

[2022-01-27 00:20] Jay-A-McBee commented on #619
:wave: hey @emad0525 - if this is still an issue please include your current configuration with private/secret info redacted (client id, etc.).

[2022-01-27 00:42] Jay-A-McBee commented on #618
I found this [issue](https://github.com/IdentityServer/IdentityServer4/issues/1142) in the IdentityServer4 repo and I think this could be the cause behind what you are seeing. I'm closing this out for now. If adding a `response_mode` parameter does not have any effect, please open a new issue.

[2022-01-27 00:42] #618 closed

[2022-01-27 01:12] Jay-A-McBee commented on #694
It sounds like the custom OAuth provider isn't returning the `state` parameter. Judging from the `null` value for all the returned params I'm leaning toward these are being returned in a different format than a query string. See https://github.com/openid/AppAuth-iOS/issues/347.

[2022-01-27 01:14] Jay-A-McBee commented on #586
Closing - outside the scope of this library.

[2022-01-27 01:14] #586 closed

[2022-01-27 01:20] Jay-A-McBee commented on #668
Is the config object identical to what you are using for Android?

[2022-01-27 19:28] Jay-A-McBee commented on #695
:wave: hey @karthikrsubs  - if you can show us your service configuration with the client ids/secrets redacted, we can try to help.

[2022-01-27 19:50] Jay-A-McBee commented on #698
:wave: hey @liatnetach - you can pass `useNonce: true` on the config object to generate and add this value to the request query string.

The library doesn't currently allow the consumer to override the `state` value for the request on iOS. This is generated using the [`OIDAuthorizationRequest` class's `generateState` method in iOS](https://github.com/FormidableLabs/react-native-app-auth/blob/main/

[2022-01-27 20:41] Jay-A-McBee commented on #696
:wave: hey @liatnetach - so it looks like the `state` value is [included on the response object in AppAuth-Android](https://github.com/openid/AppAuth-Android/blob/master/library/java/net/openid/appauth/AuthorizationResponse.java#L515). The issue is we don't add this value to [what we send back over the bridge ](https://github.com/FormidableLabs/react-native-app-auth/blob/main/android/src/main/java

[2022-01-27 21:44] Jay-A-McBee commented on #691
:wave: hey @skanwarjeet - try adding a final trailing slash to your `serviceConfiguration` urls. There have been [issues](https://github.com/FormidableLabs/react-native-app-auth/pull/609) with this in the past.

Are there any error message that you see on iOS?

[2022-01-27 21:46] Jay-A-McBee commented on #690
:wave: hey @prasidhda - is this still an issue? If so, we'll need more information to try to help. Could you provide your config object with the private information redacted?

[2022-01-27 21:54] Jay-A-McBee commented on #689
This currently isn't possible see Android-AppAuth discussion
https://github.com/openid/AppAuth-Android/issues/277#issuecomment-335029724 and
https://github.com/openid/AppAuth-Android/issues/277#issuecomment-335029724.

. Closing - Same as https://github.com/FormidableLabs/react-native-app-auth/issues/699

[2022-01-27 21:54] #689 closed

[2022-01-27 22:03] Jay-A-McBee commented on #699
:wave: hey @shivika24  - I don't think this is currently possible and it goes against what's considered a best practice. Because of this, we won't be adding support.

Discussion around same topic in native library
https://github.com/openid/AppAuth-Android/issues/277#issuecomment-335029724 and
https://github.com/openid/AppAuth-Android/issues/277#issuecomment-335029724.

. Closing - Same as https://

[2022-01-27 22:45] Jay-A-McBee commented on #688
:wave: hey @vinhtranhti - is this still an issue?  I was able to create a new app and login through google using their discovery endpoint on iOS.

[2022-01-28 00:03] Jay-A-McBee commented on #686
:wave: hey @Rachana-red - hmm... I'm not sure what the issue is. In our example app we use 'https://demo.identityserver.io/' as our issuer value and we have no problem hitting the discovery endpoint and going through the full flow with identity server.

[2022-01-28 00:34] Jay-A-McBee commented on #685
hmm... I don't think this library can be of much help with this issue. UI and setting `fontWeight` values is not something that this library would affect. The second outcome mentioned sounds like the brave browser is crashing.

Is your app using a custom font?

[2022-01-28 00:46] Jay-A-McBee commented on #682
:wave: hey @HalimaHanafy - I'm not sure I understand the issue. What "updated data" are you expecting? What is the "old data" that the refresh token contains?

[2022-01-28 00:58] Jay-A-McBee commented on #680
:wave: hey @yudiz-harshad - I'm not familiar with this provider, but I notice that the url which works in the browser has quite a few additional query string parameters. You should try adding these same values to the `additionalParameters` object. I'm not sure if this is the issue, but the request url that would be created in RN would not match what you have linked as a working url.

[2022-01-28 01:04] Jay-A-McBee commented on #677
:wave: hey @sanjib-tatva - we need more information to try and work with you on this.

- What identity provider are you using?
- What is your configuration object?, etc.

 I'm closing this issue - If it's still a problem, please open a new issue and include the relevant information.

[2022-01-28 01:04] #677 closed

[2022-01-28 01:33] Jay-A-McBee commented on #673
:wave: hey @therunbuddy - this is outside of the scope of this library. This library doesn't support any one specific provider. It is a wrapper around the native libraries AppAuth-iOS and AppAuth-Android. These libraries also don't support any specific providers. These libraries provide convenience methods to interact with authentication providers (servers) that implement the Open ID connect/oAuth

[2022-01-28 01:33] #673 closed

[2022-01-28 01:38] Jay-A-McBee commented on #670
:wave: hey @AshCoolman - you can pass `skipCodeExchange: true` on the object you're passing to the authorize function. This will allow you to receive the code and exchange it for a token server side.  Let me know if this works for you.

[2022-01-28 18:38] Jay-A-McBee commented on #679
I've been running Android 30 as the targetSDK for the example app in the project and testing on the emulator also on Android 30 today. I have not hit been able to replicate this issue. The Example app required 0 changes. The library has also been on the updated version of AppAuth-Android for the last 8 month (necessary to support Android 30).  Closing this out.

[2022-01-28 18:38] #679 closed

[2022-01-28 19:10] Jay-A-McBee commented on #676
:wave: hey @mharrisweb - If you can give us more information (identity provider, config, etc.),  we can try to help with this issue.

@ANIBIT14 - your issue is unrelated. Your error occurs in the `onActivityResult` handler. The OP's error is being thrown by the backing native library `AppAuth-Android`.

[2022-01-30 08:58] liatnetach commented on #698
@Jay-A-McBee Thanks for your reply !
The default nonce value is true, no? how can it make a difference?

but anyway I came to a conclusion that the problem is only with Azure, seems that they expect different behavior when using mobile devices.
with other providers my config did work.
there is similar case where the client (mobile) using this library to do the Authorization and then the server do

[2022-01-30 09:04] liatnetach commented on #696
@Jay-A-McBee I had issues when I used HTTPS.
I defined everything that was needed in both IOS and Android.
but in Android I had an issue that after the first login through the provider the redirect didn't worked.
I read about it in the native Android lib and I saw that it's a common issue, security reasons, cause when the browser try to redirect without any user action it blocks the redirect...
(I

[2022-01-30 09:04] #696 closed

[2022-01-31 19:29] #621 closed

[2022-01-31 23:54] pavelsokolov21 commented on #296
@boris-etingof-flarehr I had the same problem for iOS. You saved me, thanks!

[2022-02-01 17:02] Jay-A-McBee commented on #698
Ah yeah you can pass `skipCodeExchange: true` and this will bypass the token exchange and return the code to the client. You can then make a request to your server with the code and it can exchange the it for an access token.

 Let me know if that works out 👍

[2022-02-01 18:47] Jay-A-McBee commented on #617
👍 yeah @ThiefMaster - the discovery endpoint url comes from the native AppAuth libs. Closing this out as it's outside the scope.

[2022-02-01 18:47] #617 closed

[2022-02-01 19:27] Jay-A-McBee commented on #606
:wave: hey @artola - This is doable, but would require a couple updates. I'll add the `enhancement` label and see what we can do.

 In the meantime, you could hit the `/.well-known/openid-configuration` endpoint from your app before calling authorize. Your app could store the response from the configuration endpoint and pass an explicit `serviceConfiguration` object with the `authorize` call. This

[2022-02-01 19:32] Jay-A-McBee commented on #643
Same as https://github.com/FormidableLabs/react-native-app-auth/issues/588

[2022-02-01 19:33] Jay-A-McBee commented on #471
Same as https://github.com/FormidableLabs/react-native-app-auth/issues/588

[2022-02-01 19:52] Jay-A-McBee commented on #288
:wave: hey @bumpah - closing this out due to lack of response - please open a new issue if this is still a problem.

[2022-02-01 19:52] #288 closed

[2022-02-02 19:42] #236 closed

[2022-02-02 20:21] #479 closed

[2022-02-03 18:19] Jay-A-McBee commented on #700
No response from OP - closing this out.

[2022-02-03 18:19] #700 closed

[2022-02-03 18:56] Jay-A-McBee commented on #680
No response from OP - closing this out.

[2022-02-03 18:56] #680 closed

[2022-02-03 19:13] Jay-A-McBee commented on #298
Hmm... this enhancement request hasn't gotten a response or bumps from other commenters. It would add another argument to our function signatures that would probably see very limited use. Closing this out for now.

[2022-02-03 19:13] #298 closed

[2022-02-03 19:24] Jay-A-McBee commented on #237
Closing this out - should be fixed by https://github.com/FormidableLabs/react-native-app-auth/pull/352.

[2022-02-03 19:24] #237 closed

[2022-02-03 19:42] Jay-A-McBee commented on #365
:wave: hey @perry-mitchell - I'm assuming that you found a solution to your problem, but I checked out the [AppAuth-ios extension example](https://github.com/openid/AppAuth-iOS/blob/master/Examples/Example-iOS_ObjC/Podfile#L12), and it looks like your Podfile declaration is off for the extension.

[2022-02-03 19:47] #365 closed

[2022-02-03 20:08] Jay-A-McBee commented on #584
:wave: hey everyone

Closing this out as it's outside the scope of this library, but it sounds similar to https://github.com/FormidableLabs/react-native-app-auth/issues/579 - @badams2527 feel free to open a new issue if you're still dealing with universal link issues.

[2022-02-03 20:08] #584 closed

[2022-02-03 20:28] #631 closed

[2022-02-03 21:51] Jay-A-McBee commented on #688
Closing this out due to lack of response from OP.

[2022-02-03 21:51] #688 closed

[2022-02-04 04:38] hugo-chq commented on #350
@hotaryuzaki for me this happened when updating without installing pods again for iOS

[2022-02-04 07:45] blankey1337 commented on #376
hello, I have this issue as well

[2022-02-04 10:49] nsaechao opened #703 "Add custom state as an additional parameter in iOS"
For android, there is a way to override the `state` parameter #587 which can be overridden by specifying a `state` field in  `additionalParameters`.

[2022-02-04 17:28] vincentjames501 opened #704 "Latest release broken with macCatalyst"
## Issue

It looks like #693 broke compilation for us on Catalyst. It blows up with OIDExternalUserAgentIOS is not available in macCatalyst.

The problem is TARGET_OS_IOS is set for Catalyst now per: https://stackoverflow.com/questions/12132933/preprocessor-macro-for-os-x-targets/49560690#49560690

Looks like simply flipping the if/elif order should fix things.

## Environment

* **Platform that y

[2022-02-04 19:33] Jay-A-McBee commented on #686
No response from OP - closing this out.

[2022-02-04 19:33] #686 closed

[2022-02-04 19:34] Jay-A-McBee commented on #695
No response from OP - closing this out.

[2022-02-04 19:34] #695 closed

[2022-02-04 19:35] Jay-A-McBee commented on #694
No response from OP - closing this out.

[2022-02-04 19:35] #694 closed

[2022-02-04 19:35] Jay-A-McBee commented on #691
No response from OP - closing this out.

[2022-02-04 19:35] #691 closed

[2022-02-04 19:36] Jay-A-McBee commented on #690
No response from OP - closing this out.

[2022-02-04 19:36] #690 closed

[2022-02-04 19:36] Jay-A-McBee commented on #685
No response from OP - closing this out.

[2022-02-04 19:36] #685 closed

[2022-02-04 19:36] Jay-A-McBee commented on #682
No response from OP - closing this out.

[2022-02-04 19:36] #682 closed

[2022-02-04 19:37] Jay-A-McBee commented on #676
No response from OP - closing this out.

[2022-02-04 19:37] #676 closed

[2022-02-04 19:37] Jay-A-McBee commented on #670
No response from OP - closing this out.

[2022-02-04 19:37] #670 closed

[2022-02-04 19:41] Jay-A-McBee commented on #668
No response from OP - closing this out.

[2022-02-04 19:41] #668 closed

[2022-02-04 19:41] Jay-A-McBee commented on #619
No response from OP - closing this out.

[2022-02-04 19:41] #619 closed

[2022-02-04 19:42] Jay-A-McBee commented on #569
No response from OP - closing this out.

[2022-02-04 19:42] #569 closed

[2022-02-04 19:49] Jay-A-McBee commented on #658
:wave: hey @mohalepooja - This issue has been around for a while. If you haven't already, could you try updating to the latest version of the library `6.4.2`?

[2022-02-04 19:52] Jay-A-McBee commented on #642
:wave: hey @sanjaymogarkarecc and @HiranPeri - we should be able to actually end a user's session through the Idp now thanks to @gispada's [recent addition](https://github.com/FormidableLabs/react-native-app-auth/pull/693).

[2022-02-04 19:52] #642 closed

[2022-02-04 19:59] Jay-A-McBee commented on #560
:wave: hey @gokulnathperiasamy  - we don't support SSL pinning. This [question](https://github.com/FormidableLabs/react-native-app-auth/issues/298) came up a couple years ago, but it doesn't seem to be a highly sought after feature.

[2022-02-04 20:03] Jay-A-McBee commented on #578
:wave: hey @attachi20 - Thanks to @gispada's https://github.com/FormidableLabs/react-native-app-auth/pull/693 recent edition, you should be able to actually end a user's session through the Idp. Try upgrading to `6.4.2`.

[2022-02-04 20:03] #578 closed

[2022-02-04 20:10] Jay-A-McBee commented on #487
Ending a user's session through the Idp should now be supported on the latest version - `6.4.2`. See `endSessionEndpoint` [here](https://github.com/FormidableLabs/react-native-app-auth#config) and the logout method [here](https://github.com/FormidableLabs/react-native-app-auth/blob/main/index.js#L344).

[2022-02-04 20:10] #487 closed

[2022-02-07 04:48] skanwarjeet commented on #691
thanks for replying but I already solve it and slash is the problem

[2022-02-08 18:48] Jay-A-McBee commented on #698
@liatnetach if `skipCodeExchange` is working for you, it sounds like there is an issue in the server side code. Feel free to create a new issue if you find that's not the case 👍 .

[2022-02-08 18:48] #698 closed

[2022-02-08 20:40] Jay-A-McBee commented on #525
I setup up an AWS Cognito user pool and App Client (without a secret) and ran a release build (xcode 12.5.1) on iOS 13 of the example app without issue. Cannot reproduce - closing this out.

[2022-02-08 20:40] #525 closed

[2022-02-08 22:14] Jay-A-McBee commented on #624
I was able to set up and Azure AD tenant and login using the following config.
[code]

Closing this out - unable to replicate. @aditya38112 feel free to open a new issue if you think we can help.

[2022-02-08 22:14] #624 closed

[2022-02-08 22:18] Jay-A-McBee commented on #602
I was able to set up an Azure AD tenant and login using the following config. Also using `react-native v0.63.2` and `react-native-app-auth v6.4.2`.

{
  issuer:
      'https://login.microsoftonline.com/<TENANT-ID>/v2.0/',
    clientId: <CLIENT ID>,
    redirectUrl: 'example.myapp.com://oauth/',
    scopes: [ 'openid', 'offline_access']
}
Closing this out - unable to replicate. @SainagChunduru feel

[2022-02-08 22:18] #602 closed

[2022-02-09 12:43] maartenschumacher opened #706 "Don't ask to "Sign in" when logging out"
## Issue

When I logout using the provided method, it triggers the same native alert ("App name Wants to Use Server to Sign In") as when logging in. However this can be confusing since the user wants to sign out, not in. Any way around this?

---

## Environment

* **Your Identity Provider**: Keycloak
* **Platform that you're experiencing the issue on**: iOS
* **Are you using Expo?**: no

[2022-02-09 13:42] maartenschumacher commented on #706
Actually nvm, duplicate of https://github.com/openid/AppAuth-iOS/issues/643

[2022-02-09 13:42] #706 closed

[2022-02-10 15:54] SrMouraSilva opened #707 "Feature request: Non react-native version"
There is any plans to develop a ReactJs (non react-native) version?

[2022-02-10 18:41] Jay-A-McBee commented on #707
:wave: morning @SrMouraSilva

Hmm... 🤔  - I don't think there's been any discussion around building out another wrapper for the AppAuth libraries. Our current wrapper seems warranted because integrating AppAuth-ios/Android into an RN app is not something every React/React-Native dev is familiar with. The learning curve is pretty steep - I'm constantly having to reference obj-c and Android/Java doc

[2022-02-10 19:51] SrMouraSilva commented on #707
Hello, @Jay-A-McBee.

I agree with your points. In fact there are a lot of js/react implementations, but they're missing implementation something and some decisions of them are strange for my opinion, that's why I questioned if there was an implementation (because I love this project and know the quality of them).

I will continue my search 😊

[2022-02-10 19:51] #707 closed, assigned to nobody

[2022-02-10 19:56] Jay-A-McBee commented on #674
This sounds like it's outside the scope of this library. If the consuming app sets `taskAffinity` or `launchMode` differently, it would be the consuming app's responsibility to  implement alternate handling of incoming intents.

[2022-02-10 19:56] #674 closed

[2022-02-10 20:00] Jay-A-McBee commented on #591
No response from OP - closing this out.

[2022-02-10 20:00] #591 closed

[2022-02-10 21:51] Jay-A-McBee commented on #687
:wave: hey @scottaric - Unfortunately, it doesn't seem like you will be able to use the refresh method. The redirect_uri cannot be omitted from the token request. See https://github.com/openid/AppAuth-iOS/blob/master/Source/AppAuthCore/OIDTokenRequest.m#L135.

I was able to replicate the bug and I found a workaround. The request to refresh the access token can be handled directly by your app using

[2022-02-11 10:23] TravellerOnTheRun commented on #692
I get the same error and the @fbeccaceci fix did not help. IOS works absolutely fine.

[2022-02-11 12:53] scottaric commented on #687
Hey @Jay-A-McBee, thanks this is extremely helpful.  I can definitely make your suggestion work for my use case.  Wasn't sure if I was missing something originally.  Thanks for the detailed info - much appreciated!

[2022-02-11 19:14] Jay-A-McBee commented on #662
:wave: hey @martsie  - sorry it took so long to respond 😸 - So I had to do some research to figure out what the @synthesize directive does 🔎  and I actually had to turn these warnings on in xcode to reproduce this. You probably already know, but the C compiler is warning you here, "Hey because this property comes from a protocol, I'm not going to auto generate a getter and setter for this property

[2022-02-11 19:14] #662 closed

[2022-02-11 20:30] Jay-A-McBee commented on #565
👋  hey @roni-castro - these error messages do include a code. For the iOS error (The operation couldn’t be completed. (org.openid.appauth.general error -3.)) - [the `-3 ` code represents "user cancelled flow"](https://github.com/openid/AppAuth-iOS/blob/e191b1beadf3041259652e6e464eaceff16e5fbb/Source/AppAuthCore/OIDError.h#L103).

On Android the message itself can serve as the code. There is a nume

[2022-02-11 20:30] #565 closed

[2022-02-12 08:07] thomasrose commented on #676
I ran into the same issue, albeit using FusionAuth. The `issuer` in the FusionAuth tenant was configured without a protocol (e.g. `example.com` instead of `https://example.com`). Adding `https://` resolved the problem.

[2022-02-14 19:14] Jay-A-McBee commented on #658
No response from OP - closing this out.

[2022-02-14 19:14] #658 closed

[2022-02-14 22:11] Jay-A-McBee commented on #657
:wave: hey @alexander-joinlane - I'm not sure that anything needs to be done to enable this. The native backing libraries (AppAuth-ios/Android) both implement a user agent that should enable persistent cookies to be shared.

AppAuth-ios docs

AppAuth-Android uses a ["custom tabs" implementation ](https://developer.chrome.com/docs/android/custom-tabs/). One of the main benefits of using custom tabs

[2022-02-15 04:21] Nirodha26 opened #708 "Gets redirect back to login on successful login"
## Issue
On calling authorize method it gets navigated to redirect url but once successfully logged in, it's navigated to redirect url again (opening a tab) instead of navigating back to the app. This was reproducible in Galaxy S6 Android 7.0 device only.

---

## Environment

* **Your Identity Provider**: `IdentityServer4`
* **Platform that you're experiencing the issue on**: `Android`
* **Are yo

[2022-02-15 19:00] AnassHmida commented on #692
any fixes ?

[2022-02-16 19:23] djwillcaine opened #709 "Exception '<AppDelegate: 0x600001e9ab60> does not conform to RNAppAuthAuthorizationFlowManager'"
## Issue

Calling authorize with the config shown below results in the following error.

[code]

[code]

---

## Environment

* **Your Identity Provider**: Spotify
* **Platform that you're experiencing the issue on**: iOS (both simulator and physical device)
* **Are you using Expo?** No
* react-native v0.67.2
* react-native-app-auth v6.4.2

[2022-02-16 19:46] Jay-A-McBee commented on #709
:wave: hey @djwillcaine - hmm... it sounds like your AppDelegate does not conform to the `RNAppAuthAuthorizationFlowManager` [protocol](https://github.com/FormidableLabs/react-native-app-auth/blob/main/ios/RNAppAuthAuthorizationFlowManager.h).

Have you made these changes in AppDelegate.h?

[code]

[2022-02-16 20:36] Jay-A-McBee commented on #708
:wave: hey @Nirodha26 - Which browser is opened in the custom tab? Is it the default Samsung "Internet" browser? If so, I found [an old issue](https://github.com/openid/AppAuth-Android/issues/116) in AppAuth-Android that sounds similar.

Adding functionality to specify the browser for the custom tab is something we want to add, and there's already an associated PR (It set around for a while and ha

[2022-02-16 20:49] djwillcaine commented on #709
Ah, thanks very much! I missed that part of the readme.

[2022-02-16 20:49] #709 closed

[2022-02-17 08:40] Nirodha26 commented on #708
@Jay-A-McBee Hello 👋  Thanks for the quick response.

Custom tab is opened with Chrome which is set as the default browser in the device. So it seems the mentioned issue is not related to this.

However we tried following two steps,

1. Clear data, cache on default browser and try logging in again
2. Clear data, cache on V2 app and try logging in again

While 1st step didn't resolve the issue 2nd

[2022-02-17 09:01] hpelitebook745G2 commented on #674
@anisimov74 I also have this issue and verified that adding `taskAffinity=""` causes the redirection not to work. It was advised by our Penetration Tester to have our app add this attribute to prevent task hijacking.

Any workarounds?

[2022-02-17 09:07] anisimov74 commented on #674
@hpelitebook745G2 I had to remove `taskAffinity=""` and live with `android:launchMode="singleInstance"` only.

[2022-02-17 18:12] Jay-A-McBee commented on #708
hmm... I'm not sure why clearing the app's cache would cause the failed redirect to suddenly work 🤔 . Was the auth flow the same or did you have to log in to the provider again? Also what's the structure of your redirect url - custom protocol or `https` ?

If you could provide a short screencast of the failed flow and the working flow that would be helpful. Because this is device specific and on a

[2022-02-18 15:50] lsmith-scorchsoft opened #710 "Returned scopes array is empty"
## Issue

Hi. So the scopes in the `authorize` return are coming through empty, when they are in the response body.
When logging the auth state from the app:
[code]

Response body:
[code]
Testing this with the demo.identityserver.io credentials the scopes are logged out as expected. I've looked around and seen this issue a couple of times but couldn't find anything that resolves this. Any help wou

[2022-02-18 17:10] Parathantl opened #711 "Apple Signin Feature"
Hey Guys,
This library is so much easy to integrate and can see the fully-functioning workflow quickly.
Do you guys have any idea to implement the Sign in with Apple feature?

[2022-02-18 20:12] Jay-A-McBee commented on #710
:wave: hey @lsmith-scorchsoft  -

When targeting Azure AD the objects passed to the [format method ](https://github.com/FormidableLabs/react-native-app-auth/blob/main/ios/RNAppAuth.m#L538)(response and authResponse) for ios don't contain the same info as they do when targeting the identity server demo.

We expect the scope to come from the `authResponse` obj
<img width="921" alt="format_fn" src="h

[2022-02-21 10:16] barrymichaeldoyle commented on #600
Has anybody found any work arounds for this yet?

[2022-02-21 12:13] HarshavardhanRai opened #712 "Ios authorize returns wrong authorization code"
## Issue

I have been trying to login the app with the react native app auth, it works fine in android .
In ios it opens the browser and and will be able to enter the username and passowrd and upon click on login, it will return back but returns the wrong authorization code which will msimatch with the identity server code. Please help in resolving the issue.
---

## Environment
Im using latest ve

[2022-02-21 17:50] lsmith-scorchsoft commented on #710
Hi @Jay-A-McBee 👋

Thanks so much for this fantastic response! You really helped my understanding of this.

No need to make any changes, we're happy to accept the scope return as indicated by the spec and will use the request scopes when we need them. 👍

[2022-02-21 17:50] #710 closed

[2022-02-21 20:19] glorio-loopstudio opened #713 "React Native SAML provider"
I don't really know how to configurate an SAML provider in mobile app. I am using a url that redirect me to the auth page, that in web is working fine. But I don't know how to use it in React Native and get the token from this.

Any help? Thanks!

[2022-02-21 21:12] Jay-A-McBee commented on #711
:wave: hey @Parathantl  - I'm not sure that this library is a suitable choice for implementing the Sign In with Apple feature. You should look into a lib that's focused on the `apple sign in` auth flow exclusively - [react-native-apple-authentication](https://github.com/invertase/react-native-apple-authentication).

[2022-02-21 21:17] Jay-A-McBee commented on #713
:wave: hey @glorio-loopstudio - This library will only support providers that implement the OAuth 2.0 and OIDC spec.  Unfortunately the native libraries we use do not support SAML 2.0.  See this [issue](https://github.com/openid/AppAuth-iOS/issues/351#issuecomment-469556213) in AppAuth-ios.

[2022-02-21 22:03] Jay-A-McBee commented on #712
:wave: hey @HarshavardhanRai - hmm... I did some testing last week with our example app using Azure AD as my provider and I did not see this issue.  We have had [issues](https://github.com/FormidableLabs/react-native-app-auth/pull/593) in the past with a missing trailing slash on the `redirectUrl` property. Make sure that the redirect url you pass to the authorize method ends with `/`.

I successf

[2022-02-22 00:21] glorio-loopstudio commented on #713
Do you know Any way?

El El lun, 21 feb. 2022 a la(s) 18:17, Austin McBee <
***@***.***> escribió:

[2022-02-22 03:33] HarshavardhanRai commented on #712
Hi @Jay-A-McBee : I have tried with with redirect url with "/" but it gives invalid request and also can you please let me know what are the configuration i need to do in ios for react-native-app-auth.

[2022-02-22 20:09] Jay-A-McBee commented on #712
@HarshavardhanRai - there are a couple of changes you need to make for iOS. You need to [register your redirect url](https://github.com/FormidableLabs/react-native-app-auth#register-redirect-url-scheme) (info.plist change) and you also need to make [changes to the AppDelegate](https://github.com/FormidableLabs/react-native-app-auth#define-openurl-callback-in-appdelegate) in order for it to conform

[2022-02-23 06:33] hardiksonagrav opened #714 "Attempt to invoke virtual method 'android.net.Uri$Builder android.net.Uri.buildUpon()' on a null object reference when calling logout"
## Issue

    const config = {
          issuer: 'ISSUER',
        };

    const result = logout(config, {
      idToken: 'TOKEN',
      postLogoutRedirectUrl: '<POST_LOGOUT_URL>',
    });

Attempt to invoke virtual method 'android.net.Uri$Builder android.net.Uri.buildUpon()' on a null object reference when calling logout.

---

## Environment

* **Your Identity Provider**:
* **Platform that you'r

[2022-02-23 08:36] HarshavardhanRai commented on #712
@Jay-A-McBee
I have added necessary configurations in info.plist and AppDelegate.h
The issue still persists, I'm still receiving the wrong code.
here are my configurations.
[code]

info.plist

[code]

AppDeligate.h

[code]

AppDeligate.m

[code]

[2022-02-23 18:08] Jay-A-McBee commented on #714
:wave: hey @hardiksonagrav  - hmm... I tracked down a couple places where the `Uri.buildUpon` method is called and I think the service configuration returned from the `<ISSUER>/.well-known/openid-configuration` endpoint is most likely the problem.

This library calls `Uri.buildUpon` in a [single place](https://github.com/FormidableLabs/react-native-app-auth/blob/580372daf92fab88f645b12b3ba3d9cf0f2

[2022-02-23 18:49] Jay-A-McBee commented on #712
@HarshavardhanRai - I notice you have `skipCodeExchange: true` in your config. Are you manually exchanging the returned `code` for an access token through a backend service? If so, your server would be responsible for [this request](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-access-token-with-a-client_secret) in the auth flow. Note the `code

[2022-02-23 23:55] Jay-A-McBee commented on #608
:wave: hey @MFrat  - sorry for not getting back to you sooner, but I don't think we'll be able to return the http error codes when an exception occurs. All error handling/mapping first passes through the native libraries authorization exception classes - (ex. [AuthorizeException](https://github.com/openid/AppAuth-Android/blob/ceb253b8118e481f3fe6f648772a8d16179a11fe/library/java/net/openid/appauth

[2022-02-24 00:03] Jay-A-McBee commented on #657
No response from OP - closing this out.

[2022-02-24 00:03] #657 closed

[2022-02-24 22:34] #608 closed

[2022-02-24 22:35] #687 closed

[2022-02-25 07:21] karlika commented on #712
@Jay-A-McBee
I'm a colleague of @HarshavardhanRai, responsible for the server side implementation of the flow. Turns out that on Android side this is only working, because there we did a modification to the library to be able to pass our own code challenge which is generated on server side in the first step of the flow. This was apparently never pushed (the colleague who came up with this left the

[2022-02-25 08:04] pavelsokolov21 opened #715 "Sign Out with 'logout' method doesn't close webView automatically"
## Issue
Hi Team!

I want to logout from the system by the method `logout`. It works but with this errors:

For iOS:
[code]

For Android:
[code]

This error happens because I click on the `close` button after successfully signing out on the third-party screen. But I know that logout was successful because I don't see the label `Signed In` under the profile.
Looks like that might be related to redi

[2022-03-01 07:59] karlika commented on #712
@Jay-A-McBee
Just some info on the workflow we are using (or are trying to):
1. We call our server to get the client_id, authentication endpoint and also the code_verifier
2. The app then calls authorize with those parameters
3. Passing back the code to our server
4. Server calls the token endpoint with the code and challenge and returns the obtained token

How else would we do this workflow witho

[2022-03-01 17:54] Jay-A-McBee commented on #712
:wave: morning @karlika -  I was suggesting that you drop the `code_verifier` and `challenge` from step 2 by setting `usePKCE: false` on the authorize request. The risk in not using PKCE is that the code could be intercepted by a malicious app installed on the user's device, but this is only an actual risk if your `client_secret` is in your app's provisioned binary. This comes from the [PKCE RFC](

[2022-03-01 18:59] carlosag012 commented on #715
I also have the same issue in iOS.

 When I get to the login.microsoftline.com it says:

"**You signed out of your account**
it's a good idea to close all browser windows"

However, I am not redirected back to the app, there is not close button on this window and if I press Cancel,
I get the same error:

"org.openid.appauth.general error -3"

Thank you

[2022-03-02 22:08] Jay-A-McBee commented on #715
:wave: heyo @pavelsokolov21  - I was able to reproduce the issue and it looks like this is somewhat of a [known issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/127) when using Azure AD. The linked issue popped up in the MSAL js repo, but I found a solution in this [comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/127#issuecomment-6

[2022-03-03 20:07] Jay-A-McBee commented on #711
No response - closing this out

[2022-03-03 20:07] #711 closed

[2022-03-03 20:07] #713 closed

[2022-03-03 21:52] Jay-A-McBee commented on #349
Closing this out as it shouldn't be an issue anymore according to this [comment](https://github.com/openid/AppAuth-Android/issues/417#issuecomment-815988005). We bumped up to `0.8.1` with this [PR](https://github.com/FormidableLabs/react-native-app-auth/pull/630).

[2022-03-03 21:52] #349 closed

[2022-03-04 01:28] Jay-A-McBee commented on #200
I was able to get this working using a universal link on iOS, but this library is not well-suited to using LinkedIn as an OAuth provider. You must include the `client_secret` with the request to `https://www.linkedin.com/oauth/v2/accessToken` meaning you would have to include this value in your provisioned binary. This opens the app up to an "Authorization Code Interception Attack" where a malicio

[2022-03-04 01:28] #200 closed

[2022-03-04 13:11] Parathantl commented on #711
@Jay-A-McBee thanks for your info. I will try the library you mentioned. Thanks again

[2022-03-09 02:25] weyron2014 opened #716 "Error 403: disallowed_useragent"
## Issue

Hi guys, I am using Identity Server for authentication. I am able to log in through Google or Facebook social sign-in on IOS, BUT
Android gives me error Error 403: disallowed_useragent for Google and a similar error for Facebook.

Here is the screenshot:
<img width="404" alt="image" src="https://user-images.githubusercontent.com/46655778/157359623-1d604259-8649-41fc-8660-1ee0523c4a15.png

[2022-03-09 14:45] houssemanypli opened #717 "Authorize popup"
Hello, I am using authorize and i want to delete the popup shown for connection in ios
Is there any method to do this or at least to change the message shown?
<img width="212" alt="Screen Shot 2022-03-09 at 3 44 05 PM" src="https://user-images.githubusercontent.com/97892581/157464912-f89e2525-b926-4a7a-a1cf-f90ad081ca77.png">

[2022-03-09 17:01] vinipachecov commented on #102
That also worked for me!

[2022-03-10 00:10] Jay-A-McBee commented on #717
:wave: hey @houssemanypli - unfortunately there's no way to suppress this alert or edit its content. [This question](https://github.com/FormidableLabs/react-native-app-auth/issues/428) has come up before and there's an [old thread](https://github.com/openid/AppAuth-iOS/issues/120#issuecomment-329865111) in AppAuth-ios that mentions this. This is a mandatory dialog triggered by the use of `SFAuthen

[2022-03-10 00:26] Jay-A-McBee commented on #716
:wave: hey @weyron2014 - I think this is an issue with your emulator and the fact that it's launching the authentication session in `WebView Browser Tester` and not an installed browser application (ex. Chrome). If the play store is installed on the emulator, download chrome and set this as the default browser.

If the play store isn't installed, go to the AVD manager in Android Studio and create

[2022-03-10 07:47] #717 closed

[2022-03-10 17:56] sppet commented on #635
Hello @prosticoco , were you able to make this work with Laravel?

I am unable to logout the user after logging in with webview.

Can you provide some insights from your experiences?

Thanks in advance

[2022-03-11 19:09] Jay-A-McBee commented on #715
closing this out

[2022-03-11 19:09] #715 closed

[2022-03-11 19:10] Jay-A-McBee commented on #714
No response from OP - closing this out

[2022-03-11 19:10] #714 closed

[2022-03-15 22:05] houssemanypli opened #718 "Logout - Popup message"
Hello, I am using logout function and i am getting the exact message for authorize connection popup in IOS is there any solution for telling the user he is about to sign out instead? Thanks
<img width="158" alt="Screen Shot 2022-03-15 at 11 10 00 PM" src="https://user-images.githubusercontent.com/97892581/158480839-979a39a0-8512-483e-a76a-fc4b94d9ad7f.png">

[2022-03-16 04:02] Jay-A-McBee commented on #718
:wave: hey @houssemanypli -  Unfortunately again this is a known issue on iOS and has come up as an [issue](https://github.com/FormidableLabs/react-native-app-auth/issues/706) in the past. This [issue](https://github.com/openid/AppAuth-iOS/issues/643) is linked in #706 and it mentions a config option `prefersEphemeralWebBrowserSession` as a potential way to sidestep the mis-worded system alert.

F

[2022-03-16 04:06] Jay-A-McBee commented on #712
No response from OP - closing this out.

[2022-03-16 04:06] #712 closed

[2022-03-18 04:56] nios87 commented on #718
@Jay-A-McBee  Hey.

As i understand it the flow of opening a browser for auth is just fine even by Apple standards. What i dont get is the difference prefersEphemeralWebBrowserSession bring to the table and why that would cause the popup to not show.
Also why would it cause a suboptimal flow?

[2022-03-21 11:51] 1Pjagtap commented on #669
This can be due to re-rendering of the component, Similar behavior can be observed if you call `authorize` function twice without waiting for a response.
[code]

[2022-03-22 09:42] RaquelCasadoCRC commented on #358
Has anyone fixed this on an expo app? I'll have to eject in order to fix the wrong lining, I really didn't want to do it right now.

[2022-03-23 22:07] Jay-A-McBee commented on #716
No response from OP - closing this out.

[2022-03-23 22:07] #716 closed

[2022-03-23 22:07] Jay-A-McBee commented on #708
No response - closing this out.

[2022-03-23 22:07] #708 closed

[2022-03-24 08:09] nguyen-tam opened #719 "I got RNAppAuth.authorize got 13 aurguments, expected 16"
## Issue

I got RNAppAuth.authorize got 13 aurguments, expected 16
---
Here is the code 👍
[code]

## Environment

* **Your Identity Provider**: `Azure`
* **Platform that you're experiencing the issue on**: `Android`
* **Are you using Expo?** No

[2022-03-24 09:41] nguyen-tam commented on #350
I got this error when upgrade from 5.x to 6.x too

[2022-03-25 21:56] Jay-A-McBee commented on #719
👋 hey there @nguyen-tam - hmm... what version of this library are you using? `6.4.3`? If not, try upgrading to this most recent version.

I tried logging into Azure using our Example app. I also mirrored your config object. I was able to log in without any issues.
[code]
![azure_login](https://user-images.githubusercontent.com/13589602/160207563-026eac7e-ef41-48c9-869b-e1d02bba8992.gif)

Let me kn

[2022-03-25 22:13] Jay-A-McBee commented on #672
This issue occurs on low-end Android devices that kill the Activity when your app is backgrounded during the authentication process. We persist values in private instance fields so we can read/use them during the code/token exchange in our `onActivityResult` handler.  We end up getting a null pointer exception because these values don't exist when we go to read them. Notice the first line in the p

[2022-03-26 06:35] nguyen-tam commented on #719
@Jay-A-McBee Thanks for your reply. It turns out I got this error because I upgraded from 5.1.3 to 6.4.3. Here is how I fixed it.

1. npm uninstall react-native-app-auth
2. gradlew clean
3. npm install --save react-native-app-auth ( install the newest version here)

[2022-03-27 23:09] Jay-A-McBee commented on #719
👍 glad you got it sorted out

[2022-03-27 23:09] #719 closed

[2022-03-28 19:28] carlosag012 commented on #715
Thanks for posting a solution. My project is kind of stalled right now but will give that a try soon.

Thanks

[2022-03-29 15:53] nguyen-tam opened #720 "[OIDAuthState authStateByPresentingAuthorizationRequest:request call back is never called"
## Issue
[OIDAuthState authStateByPresentingAuthorizationRequest:request callback is never called, so the authentication is never finish on iOS.
I'm using react-native-app-auth 6.4.3, I've added AppAuth, I've added CFBundleURLTypes, I've modified AppDelegate.h and AppDelegate.m. Do you have any ideas on something I've missed?

[code]

in RNAppAuth

---

## Environment

* **Your Identity Provider**

[2022-03-29 23:42] Jay-A-McBee commented on #720
👋 hey hey @nguyen-tam - hmm... I haven't been able to replicate the issue, but I do have a suggestion for you to try.

[code]

This was your config in the previous issue (#719). Try adding a trailing slash to the `redirectUrl` for ios -
`'urn:ietf:wg:oauth:2.0:oob/`. We've run into [this issue](https://github.com/FormidableLabs/react-native-app-auth/pull/593) in the past when using Azure/MSFT as t

[2022-03-30 10:57] nguyen-tam commented on #720
Thanks alot, it works!!!! You're awesome.

[2022-03-30 10:57] #720 closed

[2022-03-30 13:39] Jay-A-McBee commented on #720
Nice - glad it worked 🚀

[2022-03-30 16:46] Jay-A-McBee commented on #718
Closing this out - it's hard to justify adding this configuration option in response to a minor UI bug (imo).

[2022-03-30 16:46] #718 closed

[2022-03-31 07:45] robinvandenb opened #721 "Invalid ID Token error when device time is manually set to wrong time"
## Issue

We noticed we encountered a few `Invalid ID Token` errors. After some research and trial and error we noticed it was caused because the device time was manually set to the wrong time.
Clearer error messages would have taken less time to debug the issue.
---

## Environment

* **Your Identity Provider**: `CDC`
* **Platform that you're experiencing the issue on**: `Android`
* **Are you usi

[2022-03-31 09:15] imariic commented on #621
This is still an issue and I don't know how to fix it.

[2022-03-31 09:21] imariic commented on #526
This is still an issue and I don't know how to fix it. Can somebody help me? I added additionalParameters: { prompt: 'login' }, but it didn't work.

[2022-03-31 23:09] Jay-A-McBee commented on #721
:wave: Hey @robinvandenb - I agree that clearer error messages probably would've made this easier to debug, but the thing is we're subject to the error message that is returned by the native libraries we use - AppAuth Android and AppAuth iOS.
I'll definitely try to repro this to see if there's more info included in the error that would allow us to spell out exactly why the id token is invalid - I'

[2022-04-06 04:56] fukemy opened #722 "Use of undeclared identifier 'RCTLinkingManager'"
## Issue
Hi, i follow all the step but i got this error, im sure the AppAuth was installed in XCode project
![Screen Shot 2022-04-06 at 12 12 26](https://user-images.githubusercontent.com/8202437/161900400-22d78a14-f7b8-4e15-917e-a9684e74464c.png)

Please help my problem

Here is full code:
***AppDelegate.h***
[code]

---

## Environment

* **Your Identity Provider**:  solved bug first
* **Platfor

[2022-04-06 05:32] imariic opened #723 "Credentials are cached in mobile browsers."
Hello everyone,
I came to the project which had very old RN(0.59.9) and react-native-app-auth(4.x) versions. I upgraded both versions to the latest. After that I started having issues described here - https://github.com/FormidableLabs/react-native-app-auth/issues/621 and https://github.com/FormidableLabs/react-native-app-auth/issues/526. What should I do? In 4.x version everything worked perfectly

[2022-04-07 10:24] tomjoj commented on #275
use in config
dangerouslyAllowInsecureHttpRequests: true,

[2022-04-07 10:24] tomjoj commented on #605
use in config
dangerouslyAllowInsecureHttpRequests: true,

[2022-04-07 10:28] tomjoj commented on #401
use in config
dangerouslyAllowInsecureHttpRequests: true,

[2022-04-08 09:27] fredmanxu commented on #722
Add the following code to `AppDelegate.m`
[code]
It worked for me.

[2022-04-10 10:31] IKTANIM commented on #717
Logout happens even if press the cancel button.

[2022-04-10 15:48] fukemy commented on #722
tks it work

[2022-04-13 09:30] nmsdvid opened #724 "OAuth2 not working for dropbox"
## Issue
OAuth2 is not working for dropbox, I'm using the example app and the example Dropbox config from the repo. The browser window opens and I'm able to login to Dropbox then it redirects to the redirectUrl but then nothing. The browser window is open and it shows the redirectUrl website. There is no callback in the app. Any ideas?

---

## Environment

* **Your Identity Provider**: `OAuth2 Dr

[2022-04-18 21:14] swikars1 commented on #721
This happed to me in android simulator, i dont know why time was wrong, not a major thing but weird and need fix.

[2022-04-18 23:25] Jay-A-McBee commented on #724
:wave: hello hello @nmsdvid - hmm... I think that our dropbox config example is probably out of date. It was committed 3+ years ago.  I was able to use Dropbox as an OAuth provider in the example app with a simple config.

[code]

![dropbox](https://user-images.githubusercontent.com/13589602/163892334-b9e204a1-63fc-442a-8df3-031b2848b6bc.gif)

It seems like Dropbox now allows custom uri schemes as

[2022-04-18 23:54] Jay-A-McBee commented on #723
:wave: hey @imariic - Support was recently added to actually end the user's session with the OIDC provider rather than simply revoking the token. ([commit](https://github.com/FormidableLabs/react-native-app-auth/pull/693)). Targeting the `end_session_endpoint` should clear the shared cookies from the browser session used during authentication. Unfortunately, not all providers expose an `end_sessio

[2022-04-19 00:00] Jay-A-McBee commented on #722
👍 Thanks @fredmanxu for chiming in!!

[2022-04-19 00:00] #722 closed

[2022-04-19 05:33] willzofsteel commented on #723
Hi @Jay-A-McBee , I am having the same issue with the cached credentials but my provider is an OAuth2 PKCE spec and not an OpenID provider and does not expose an end_session_endpoint. Is there a way to tell AppAuth to forcefully clear out the session cookies after a resolved authorize call?

[2022-04-19 16:46] Jay-A-McBee commented on #723
@willzofsteel as far as I know there isn't. AppAuth-iOS exposes a way to provide a custom user agent, but even then the best we could do would be to set [prefersEphemeralWebBrowserSession](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession/3237231-prefersephemeralwebbrowsersessio?language=objc) and cross our fingers. If the default browser on the device is

[2022-04-21 07:32] nmsdvid commented on #724
Hello @Jay-A-McBee thanks for your help, it works. 😊  It seems Dropbox now needs custom uri scheme as a `redirectUrl`. I will test further the api and if everything works I will submit a PR, but for now I will close this ticket.

[2022-04-21 07:32] #724 closed

[2022-04-21 13:09] kkkasio commented on #358
I have the same question, using expo and getting the error. maybe some configuration is missing outside the expo.

[2022-04-22 01:24] willzofsteel commented on #723
@Jay-A-McBee Thank you for your response. I tried using the react-native-cookies to clear the cookies but doesn't seem to work. I've tried CookieManager.clearAll() and the other specific method just to test but to no avail. The odd thing to me though is that if I go into settings for Safari and clear all Website data that clears the cookie fine.

[2022-04-26 05:40] imariic commented on #723
@Jay-A-McBee the only solution that worked for me was implementing `Linking` and opening URL for logging out. However, this solution doesn't work on iOS 15 and I don't know why. I've tried to use `react-native-cookies` but it didn't help me.

[2022-04-26 05:44] el173 opened #725 "Support to pass additionalParameters to logout"
As per the current logout implementation it support only for ```state``` param in the additionalParameters array. Is it possible to set another few or an array as  additionalParameters to the logoutConfig?

[2022-04-26 15:34] kkkasio opened #726 "Someone integrated with expo? (Bare workflow)"
## Issue

Hello my friends however, something in the issues not about EXPO ! (I'm not using Managed Workflow)
I would like to know if it is possible to use the lib with the expo (Bare workflow)

When I run my app _**outside of expo**_ (yarn android) directly all my login flow works perfectly.

I would just like to know if by configuring the necessary things (natively), if I can continue with the e

[2022-04-26 17:15] Jay-A-McBee commented on #723
Ah ok  - I'll poke around and see if we can configure the session on iOS a little differently to avoid caching credentials.

[2022-04-27 11:40] panktiszluck commented on #692
Same, here getting same issue in ios

[2022-04-27 13:39] panktiszluck commented on #520
I tried below code in my AndroidManifest.xml file as per the reference document, but still the redirection for google is not working as expected.

`<activity
        android:name="net.openid.appauth.RedirectUriReceiverActivity"
        tools:node="replace">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.cat

[2022-04-28 13:08] panktiszluck commented on #581
I am facing same issue in real device as well as emulator
below is the code I used for authorising google. Please let me know if anyone finds the solution.

[code]

[2022-05-05 22:16] Vorob-Astronaut commented on #723
What the solution for newbies? Would be nice if somebody could help

[2022-05-11 03:31] nob3110 commented on #505
If your production app doesn't use UnsafeConnection, I think you just need to change two lines ([# L28](https://github.com/FormidableLabs/react-native-app-auth/blob/580372daf92fab88f645b12b3ba3d9cf0f219fe8/android/src/main/java/com/rnappauth/RNAppAuthModule.java#L28), [# L895](https://github.com/FormidableLabs/react-native-app-auth/blob/580372daf92fab88f645b12b3ba3d9cf0f219fe8/android/src/main/jav

[2022-05-11 09:27] 1Pjagtap commented on #581
`appAuthRedirectScheme` in app's build.gradle is the issue here, it should not be `com.example.com` else it should be `com.googleusercontent.apps.CLIENT_ID`

[2022-05-11 10:25] panktiszluck commented on #581
It is not possible to set `com.googleusercontent.apps.CLIENT_ID` as I am using multiple `appAuthRedirectScheme`

[2022-05-11 10:53] 1Pjagtap commented on #581
@panktiszluck Use `<intent-filters>` instead of `appAuthRedirectScheme` something like this.

[code]

[2022-05-11 10:54] panktiszluck commented on #581
I tried this, but it was not re-directing to my app.

[2022-05-12 02:59] sriram-viswanathan commented on #505
Thanks for your response @nob3110. I have been using something similar to your suggestion for more than a year now. I had completely forgotten that I had posted in this thread. I should have updated here a long ago (my bad 😞 )

[2022-05-12 11:25] HarshavardhanRai opened #728 "Library not found for -lAppAuth"
## Issue

When I try to run the app it gives the below error.

ld: library not found for -lAppAuth
clang: error: linker command failed with exit code 1 (use -v to see invocation), Please help me in solving the issue.
---

react native version: "0.67.4"
React native app auth: "^6.4.3"

## Environment

* **Your Identity Provider**: `e.g. Azure`
* **Platform that you're experiencing the issue on**: `

[2022-05-16 04:42] fuzail-comakeit commented on #382
Hi all. Logout doesn't work and says "Session not active". The above solutions (@expouic , @tensor5 ) are not working on Android because the fetch call for logout is being made inside the App not in the browser instance. I don't see how it can work. If its working for someone please post your solution here

[2022-05-16 12:12] NiranjanXamarin commented on #502
Attempt to present <SFSafariViewController: 0x7fe6e396f600> on <Xamarin_Forms_Platform_iOS_PlatformRenderer: 0x7fe6e1926e60> (from <Xamarin_Forms_Platform_iOS_PlatformRenderer: 0x7fe6e1926e60>) which is already presenting <Xamarin_Forms_Platform_iOS_ModalWrapper: 0x7fe6e4920ad0>

I am getting this error while integrating OKTA login in forms application which is using prism.

[2022-05-16 12:15] NiranjanXamarin opened #729 "Okta Login with Xamarin forms and prism"
## Issue

I am getting this error message while calling  await OktaContext.Current.SignInAsync(); this method of plugin okta.xamarin.
Its working fine with normal mvvm but giving following issue with prism.

Attempt to present <SFSafariViewController: 0x7fe6e396f600> on <Xamarin_Forms_Platform_iOS_PlatformRenderer: 0x7fe6e1926e60> (from <Xamarin_Forms_Platform_iOS_PlatformRenderer: 0x7fe6e1926e60>

[2022-05-17 12:30] jmacpherson commented on #672
Also investigating this issue presently. Can't help but notice that while https://github.com/Nirodha26/react-native-app-auth/pull/1 put in what may be a fix for this issue in January, the releases since then have not included this update.

[2022-05-18 06:50] panktiszluck commented on #581
I tried `com.example.com` as well as `com.googleusercontent.apps.CLIENT_ID`, `com.googleusercontent.apps.CLIENT_ID` is not redirecting to app at all. so I has to use `com.example.com`.

[2022-05-18 10:26] flo-sch opened #730 "[Android][Azure AD B2C] Unable to set additional parameter ui_locales"
## Issue

Hello, I use this package for a react-native application (iOS & Android targets) backed by an Azure AD B2C tenant.
Most of the features work fine, but I facing an issue when trying to customise the language.
According to the documentation, a queryString parameter called `ui_locales` can be added to the login page in order to translate it.

I am trying to set it using `additionalParameter

[2022-05-18 20:29] Vorob-Astronaut commented on #723
@Jay-A-McBee thnx for you contribution to this repository. I really appreciate it ❤️.

I'm stuck with this issue. Just wanted to ask if you have any progress on this issue or can give some advice/hint how to fix it. Thanks!

[2022-05-18 20:36] Vorob-Astronaut commented on #723
@imariic was you able to fix it?

[2022-05-19 07:50] RohitRastogi94 commented on #700
I have done every setup required for iOS universal link. on taping on link from notes or contact's url it is working fine but from redirect after authentication it loads webpage. I am using https link for redirection @Jay-A-McBee

[2022-05-19 07:55] RohitRastogi94 commented on #556
@frantjc how did you implementated https universal link with redirect. can you please explain the steps

[2022-05-19 14:22] Brqqq commented on #582
For me, the solution was to change iOS deployment target in xcode to version 11.0

[2022-05-20 05:46] atitpatel commented on #601
This is still happening for me:
React Native version:  0.67.4
react-native-app-auth: 6.4.3

I am getting 'browser_not_found' error even after having browsers up-to-date(Chrome and Opera).

@Jay-A-McBee

[2022-05-22 14:35] RohitRastogi94 commented on #700
@Jay-A-McBee Do you have any update?

[2022-05-22 14:39] RohitRastogi94 commented on #696
@liatnetach Did you integrate Universal link for iOS? @Jay-A-McBee It's an issue only in iOS. in Android It works fine.

[2022-05-22 14:51] RohitRastogi94 commented on #556
@frantjc  My team is also trying to add universal link in iOS. but instead of redirecting back to app, it's redirecting to web page. If you can share steps It would be very helpful.

[2022-05-25 08:33] DennisOstertag commented on #672
@Jay-A-McBee any chance this possible fix would resove the issue and can be merged here ?

[2022-06-01 10:47] mehthabux commented on #728
try changing deployment target to 11.0

[2022-06-02 12:25] stbhb commented on #601
I can also reproduce the 'browser_not_found' error when having Opera installed on the device. No error for other single installations or combined installations of Chrome, Firefox, Brave or Vivaldi.

I also checked and changed the standard browser settings on Android, but still getting the error.

React Native version: 0.66.4
react-native-app-auth: 6.4.3

[2022-06-02 15:03] jfschaff opened #734 "Config parameter `customHeaders` is not taken into account"
## Issue

It looks like the config parameter `customHeaders` is disregarded.

[code]

The outgoing authorization request does not have a custom header `X-MyCustomHeader` on Android.

---

## Environment

* **Your Identity Provider**: not relevant
* **Platform that you're experiencing the issue on**: `Android`
* **Are you using Expo?** No

[2022-06-07 08:49] kadikraman commented on #726
Unfortunately you can't use this library with the managed workflow, because it relies on native code. However, Expo have their own implementation which you can use with the bare workflow: check out [AuthSession](https://docs.expo.dev/versions/v45.0.0/sdk/auth-session/).

[2022-06-07 11:55] AnassHmida commented on #601
@stbhb  did you figure out a solution for this ?

[2022-06-07 14:15] stbhb commented on #601
I did not see it before, but https://github.com/FormidableLabs/react-native-app-auth/pull/731 fixes it

[2022-06-08 15:02] #730 closed

[2022-06-10 15:09] AlehSabadashGmail opened #738 "confirm registration with deep link when auth window is closed"
## Issue

Hey everyone, I have implemented auth flow with react native app auth + keyclock and faced issue. My registration flow consist of two steps:
1) I press sign up button, call `authorize`, is opened additional window with form, I fill data and get link on email that I have to press in order to confirm registration
2) I press link (deep link to my application with params like code, state ...

[2022-06-10 15:16] AlehSabadashGmail opened #739 "confirm registration with deep link (IOS)"
## Issue

Hey everyone, I have implemented auth flow with react native app auth + keyclock and faced issue. My registration flow consist of two steps:
1) I press sign up button, call authorize, is opened additional window with form, I fill data and get link on email that I have to press in order to confirm registration
2) I press link (deep link to my application with params like code, state ...)

[2022-06-14 06:46] yberstad commented on #679
@hugo-chq, thank so much for your suggested fix, worked like a charm for us! We have had more and more of the "browser_not_found" error in production lately.

[2022-06-17 18:12] fsg101 opened #740 "react-native-app-auth for Windows and MacOS"
Hello,

I have just started programming on React-Native TypeScript and I have incorporated your library to connect to MS-Graph. It is working like a charm on both iOS and Android. Great work!

I am now looking to expand the app to the desktop. Do you know if this library will be compatible with Windows or MacOS ? If not do you know if there are good alternative ?

Thank's again for this excellent

[2022-06-19 19:08] fsg101 commented on #740
For those who are looking for this I found, probably, the best answer here :
https://stackoverflow.com/questions/72641450/using-react-native-app-auth-in-react-native-app-and-login-using-ms-api-for-login#

[2022-06-20 11:53] fsg101 commented on #87
I encountered the same error as mentioned here when I try to load an app for a Windows app. (return RNAppAuth.authorize(...nativeMethodArguments); "TypeError: Cannot read properties of undefined"). I tried the linking process but it is intended only for Android and iPhone; as seen below. Does somebody know if there is an easy fix for a Windows app ?

I use react-native-app-auth@6.4.1.

npx react-n

[2022-06-20 14:43] JaysLachance opened #741 "Get email information on succesfull login"
Hello, i am simply trying to get the info from the user that logged in. I understand we get the results from a successful authorization returns  accessToken, accessTokenExpirationDate and refreshToken but i wonder if there's any way for me to get the email, and possibly the first name and last name of the email logged in. Thanks

[2022-06-20 18:25] JaysLachance commented on #741
After more investigation i am now using the v2.0 version but the scope is not detected and nothing is returned.

[2022-06-21 08:19] yannickpschroeder commented on #382
If you use PKCE your App opens the browser and logs in and saves cookies. When I try to logout calling the end_session_endpoint and try to login at the same Realm with a different user, I get directly logged backed in as the old user, since there is still a valid Cookie saved in this browser tab. Any solutions for that?

[2022-06-21 12:06] zomervinicius commented on #721
Is there a way to get the server time instead of the device time to get the time?

[2022-06-21 13:59] dylanlewis89 commented on #716
For anyone else happening upon this page, this solution solved a problem I had been facing that was really tough to debug because I originally thought it was a bad configuration in the library I was using to initiate authentication. Thank you @Jay-A-McBee for providing the insight that the simulator device has to have a real default browser installed for the auth libraries to open it, and providin

[2022-06-21 16:45] fsg101 commented on #740
This is made for Single-Page Application. I still have to find the appropriate way to implement this for a react-native app on Windows.

[2022-06-23 10:04] andre-wells opened #742 "Azure AD B2C - Incorrect login page being shown"
## Issue

I'm trying to authorize my React Native app with Azure AD B2C.  My problem is that when although I believe I've configured everything correctly, the mobile browser is trying to authenticate my Microsoft identity and not my Azure B2C directory identity.

### Signup-signin user flow on web

I can authenticate using the user credentials created in the Azure AD B2C directory (email address i

[2022-06-23 10:07] saurabh297 commented on #526
Hi All,
I am also facing same issue **additionalParameters: { prompt: 'login' }**
it does not work please help me out if anyone resolved it.

[2022-06-23 12:59] saurabh297 commented on #723
ephemeral sessions is working for only iOS  >=13 only. and for this we need to change in pod  folders
anybody have solution to resolve it and where we need to add code?
what about android is there any solution for that?

[2022-06-23 18:56] nachoperez714 commented on #600
This is the same issue as [#672](https://github.com/FormidableLabs/react-native-app-auth/issues/672).
Apparently there's a PR with a fix [Nirodha26#1](https://github.com/Nirodha26/react-native-app-auth/pull/1) but it still hasnt been merged into official and included in a release.

It would be great if it was merged into official

[2022-06-23 18:58] nachoperez714 commented on #672
It would be great if this fix was merged into official and added in a next release.

[2022-06-24 09:44] andre-wells commented on #742
Found the problem: I was using the [azure active directory](https://github.com/FormidableLabs/react-native-app-auth/blob/main/docs/config-examples/azure-active-directory.md) example and not the [azure active directory b2c](https://github.com/FormidableLabs/react-native-app-auth/blob/main/docs/config-examples/azure-active-directory-b2c.md) example.

[2022-06-24 09:44] #742 closed

[2022-06-24 09:57] saurabh297 commented on #723
ephemeralWebSession where we need to add in code.
@jadar  can you please explain more.

[2022-06-24 10:07] saurabh297 opened #744 "How to clear browser cache in iOS as well as android."
Hi @formidableamy
Thanks for provide best library for auth.
My requirement is every time I want to clear cache when user click on login so that other user can access easily .
I mean Login prompt show every time.
I tried with additionParameters:{prompt:'login} but that is not working.
 is there any props for ephemeralWebSession as well?
can you please provide any solution for this.

[2022-06-24 13:40] pipocadr opened #745 "Network error - service_configuration_fetch_error"
## Issue

Hi Folks,

My app is being used by about 300 users and we are getting a lot of complaints about problems logging into Microsoft using MFA.

After receiving the SMS and adding the code, the user confirms on the consent screen to be redirected back to the app but often he goes back to the Microsoft Login page.

The problem can be solved palliatively by clearing the cache of the Chrome app.

[2022-06-27 12:13] rlov commented on #744
I have the same issue :C

[2022-07-06 08:20] yannickpschroeder commented on #744
I have the same issue!

[2022-07-07 05:17] saurabh297 commented on #723
@yannickpschroeder  no

[2022-07-11 14:13] rizshivalli opened #746 "Android Build failing with processDebugResources error"
## Issue

Android build is failing with brand new project with just this library. Without this library build is successful
iOS is working fine

`yarn run v1.22.15
$ react-native run-android
info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
Jetifier found 983 file(s) to forward-jetify. Using 8 workers...
info JS server already running.
info Insta

[2022-07-12 07:11] mus2mgit commented on #526
Did anyone resolve this... a big blocker for me. As everyone said on iOS the additional parameters doesn't do anything.

[2022-07-12 07:18] mus2mgit commented on #526
I resolved it by calling the logout() function with endSessionEndpoint and postLogoutRedirectUrl set properly. It resets the session.

[2022-07-13 11:01] ravirajar opened #748 "After sign in using this module, device default browser isn't asking for credentials"
## Issue

Hi All,
Not sure whether this is an issue or a feature. Needed support or a workaround on this.

I've done react-native-app-auth with Microsoft login. So when the user clicks on the Login button from my app. It opens the MS login page in a browser(within the app and in title bar that tab the editing is locked).
Once the user fills in the credentials, we get the access token.

Now the iss

[2022-07-13 12:18] yannickpschroeder commented on #723
@jadar Sorry Im a newbie.. Could you add a code example?
When I search the whole repository for the word "ASWebAuthenticationSession" I don't get any hits.

Where did you add your code?
How did you tell react-native-app-auth to use that code?
Where did you put your custom  subclass of OIDExternalUserAgent?

[2022-07-13 13:25] ravirajar commented on #744
Any solution or workaround till now!? I'm so stuck with this issue.

[2022-07-15 15:09] CodingItWrong opened #750 "Okta instructions are out-of-date"
## Documentation Feedback

A few of the details in the instructions for Okta are out-of-date for their latest web UI. I will push up a PR to address them; just want to document the issues here first.

1. Docs indicate "Add Application" is under "Applications". But now you need to choose "Applications" under "Applications" (surprisingly), then it's called "Create App Integration"

![1](https://user

[2022-07-19 11:29] paritosh-yadav commented on #746
Any updates?

Getting same issue

[2022-07-20 12:54] sjransom opened #752 "Error: JSON deserialization error (Android)"
## Issue

I am getting `JSON deserialization error` with the following on Android **ONLY** - iOS is working as expected.

[code]

Response I am expecting (I got this via iOS as it works):
[code]
I have a hunch it's related to the `tokenAdditionalParameters` but I'm not 100% sure.

---

## Environment

* **Your Identity Provider**: COROS (https://coros.com/)
* **Platform that you're experiencing th

[2022-07-20 12:59] sjransom commented on #752
Also for reference just adding the COROS response from their API spec:
[code]

[2022-07-21 05:22] rizshivalli commented on #746
@paritosh-yadav Had to update React Native 0.64.0, it is working

[2022-07-21 06:10] GeraltRivvia opened #753 "Azure AD B2B Access Token getting a 401 response when used as a bearer token to a REST API call"
I am using this library for an authentication in Azure AD of a mobile app in react native. It is returning an access token and able to authenticate as expected.

When I use the access token as bearer token to an API to retrieve data, I get an error saying Authorization is denied. We have setup the app reg/client id to have the permission on the backend/API prior as well. If we switch to B2C config

[2022-07-21 23:04] taZik616 opened #754 "A "revoke()" method does not work with GitHub oauth2."
## Problem

I need to authorize the user through the github it came out, but I can't understand why the revoke method doesn't work. Look, maybe I specified something wrong in the config, but it seems to me that everything is correct

<img width="721" alt="Снимок экрана 2022-07-22 в 03 49 20" src="https://user-images.githubusercontent.com/94304770/180328241-85f99d77-3b05-4f07-bb93-2f329c159b3e.png"

[2022-07-22 16:15] tanakaderoy opened #755 "The App Auth Pod is Locked to 1.4.0 and is Conflicting with other pods that require higher versions"
## Issue

Getting this error when trying to install @react-native-google-signin/google-signin v8.0.0
[code]
a fix could be in the podspec change `s.dependency 'AppAuth', '1.4.0'` to `s.dependency 'AppAuth', '~> 1.4'` so that projects arent locked to 1.4.0 only and can go any version of 1.x higher
---

## Environment

* **Your Identity Provider**: `e.g. IdentityServer 4 / Okta / Azure`
* **Platform

[2022-07-23 10:48] aanikid opened #757 "registration_failed on register method"
## Issue

hello guys, im facing a issue when i try to use the register method
config:
[code]

[2022-07-25 07:48] #755 closed

[2022-07-25 07:48] #750 closed

[2022-07-25 11:13] Vorob-Astronaut commented on #723
I used a different lib to solve my issue:

[code]

@yannickpschroeder

[2022-07-29 18:48] alexzobi commented on #728
Any movement on this? I've tried manually linking the library as well and nothing seems to work. Side note for M1 users, running the command above might not work either. If it doesn't, try running `arch -x86_64 npx react-native run-ios`. I have an M1 and didn't have to do this, but a teammate with an M1 did.

[2022-08-03 22:06] jakecurreri opened #758 "Infinite loop of "Safari cannot open the page because your iPhone is not connected to the internet..." when authenticating through Okta"
## Issue

For users with devices issued from our organization, they experience an infinite loop when authenticating through Okta. The tunneling software for those phones automatically logs the user in via Okta, bypassing the email/password auth screen. Unfortunately, the Safari browser opens <subdomain>.okta.com and infinitely refreshes the web address. Safari kicks this back as a "...your iPhone

[2022-08-05 06:02] karatekid430 commented on #755
Having similar issue here

[2022-08-06 16:15] billnbell opened #759 "salesforce?"
How do you setup salesforce with this?

[2022-08-08 11:24] paritosh-yadav opened #760 "Audience mismatch with openid as scope"
As soon as i add openid in scope list authorize() throws Error as: [Error: Audience mismatch]
---

## Environment

* **Your Identity Provider**: `Salesforce`
* **Platform that you're experiencing the issue on**: `iOS`
* **Are you using Expo?**: `No`

is redirectUrl key need to be exactly same?
As salesforce configuration shows multiple comma separated audience & what i'm using in config (object) f

[2022-08-10 07:09] paritosh-yadav commented on #759
Any update on this?

[2022-08-10 08:09] ngocptmio commented on #722
If add `#import <React/RCTLinkingManager.h>` to the `AppDelegate.m` or `AppDelegate.m` file is not working.
You can try add `#import <React/RCTLinkingManager.h>` to the `AppDelegate.h`.
And that is working with me.

[2022-08-10 09:12] billnbell commented on #759
I was able to get it to work. We really should document it.

[code]

Ok then when setup call:

[code]

[2022-08-10 09:14] billnbell commented on #759
Also if you want for force login - like after clicking logout button - add to the config.

[code]

[2022-08-13 15:22] BryceBlankinship opened #761 "What are the advantages of this library? Also, documentation needs to be made clearer."
## Documentation Feedback

I'd like to preface this by saying that if anyone can provide me with concrete evidence that this library is better than implementing OAuth2 on my own, that I'll make the proposed changes to the documentation to make it clearer and more readable. However, after going through the docs, I'm not convinced as to what this library is helping me to do. What's the difference be

[2022-08-19 11:22] anujraghuvanshi commented on #710
Hi @lsmith-scorchsoft @Jay-A-McBee   - I am having the same issue. The scopes array is returned empty. I have tried on both Android & iOS and passsed `['openid', 'profile', 'User.Read']` scopes  to `authorize` method and it's not working.

I was earlier doing with `react-native-azure-auth` and the scopes were returned but using this package, I am not able to get.

[2022-08-19 11:36] juanm4 commented on #714
Hi @Jay-A-McBee, I'm experiencing the same error when I try to logout on Android. On iOS is working fine.
Hi have checked `<ISSUER>/.well-known/openid-configuration` and the property called `end_session_endpoint ` is present and is correct.

So, why does it still failing? I don't understand why it works on iOS but not in Android. Maybe I'm missing something...

Thanks in advance!

[2022-08-19 11:40] anujraghuvanshi commented on #678
Hi @Goutham-Elangovan - Did you get solution of your issue ?  I am also having same issue.

[2022-08-20 00:12] billnbell commented on #759
OK no idea but I am getting on Android: JSON deserialization error

[2022-08-20 00:44] billnbell commented on #759
OK for Android you cannot have issuer and serviceConfiguration.

It works fine with issuer. Just give it the main URL like "https://login.salesforce.com" or "https://sandboxname.sandbox.my.salesforce.com"

      let config: AuthConfiguration = {
        issuer: salesforceIssuerUrl,
        clientId: consumerKey,
        clientSecret: consumerSecret,
        redirectUrl,
        scopes,
      };

[2022-08-22 11:18] YuliPolishchuk opened #762 "Authorization with Discord return empty scrope and idToken"
Config file -
[code]
Returned status 200 and redirected back, but a response like that, scope and idToken is empty

`{"accessToken": "eqRXY6qT13IsddURYBHXbjvoOdv2JY", "accessTokenExpirationDate": "2022-08-29T11:14:16Z", "authorizeAdditionalParameters": {}, "idToken": "", "refreshToken": "7sYoKlWsfdt5LTjpuxiCa5ht8ZMvbg", "scopes": [], "tokenAdditionalParameters": {}, "tokenType": "Bearer"}`

[2022-08-22 22:14] Goutham-Elangovan commented on #678
@anujraghuvanshi I used https://www.npmjs.com/package/react-native-msal and it worked in my case.

[2022-08-23 01:39] eramosr16 opened #763 "Example don't work if you change module reference"
## Issue

I tried run the example replacing the entry here:
https://github.com/FormidableLabs/react-native-app-auth/blob/5ddbf1b49958b4dc83ff0d49b758510dbad5b1d0/Example/package.json#L15

with the actual  package using yarn, after doing this the example don't work anymore.
---

## Environment

* **Your Identity Provider**: `e.g. IdentityServer 4 / Okta / Azure`
* **Platform that you're experiencin

[2022-08-23 04:37] paritosh-yadav commented on #760
It got resolved.
'id token Audience' needed to be removed from salesforce protal.

[2022-08-23 04:37] #760 closed

[2022-08-23 05:18] paritosh-yadav commented on #585
Hi @jpdriver ,
As in the below [PR-645](https://github.com/openid/AppAuth-iOS/pull/645) `AppAuth iOS SDK` provided support for ephemeral sessions.
When can we expect same in this library?

[2022-08-23 16:55] rush86999 commented on #581
anybody have a step by step solution to this problem? I m trying to use google calendar api and it keeps redirecting to google.com instead of closing the tab back to the app

[2022-08-24 03:07] rush86999 opened #764 "Upgrade to AppAuth 1.5.0"
I am using another react native sign in plugin and their dependency is AppAuth 1.5 while react-native-app-auth is 1.4.0. There is a pod dependency conflict that can be easily resolved by upgrading to latest AppAuth version

[2022-08-24 08:49] mrjosshi commented on #494
Any update on this ?

[2022-08-25 20:12] himanshuchugh1999 opened #766 "how to https or http redirect uri."
HOW TO ADD HTTPS OR HTTP-RELATED REDIRECT URI IN THE APP AUTH LIBRARY

[2022-08-26 11:07] Reisclef commented on #754
I'm not entirely sure why, but passing a subset of the Config only including the following properties worked for me:

issuer
clientid
serviceConfiguration

Not entirely sure why this is the case, given that the revocation endpoint (as far as I'm aware) could be obtained from a well known openid configuration page. Hope this information helps.

[2022-08-30 05:12] paritosh-yadav commented on #585
Hi @jpdriver , any update on this?

[2022-08-30 15:26] davidmalis commented on #585
Any ETA on providing support for ephemeral sessions?

[2022-08-31 23:55] j-petty commented on #723
@jadar I'm still getting familiar with React Native so apologies but could you please provide an example of how to implement your own `OIDExternalUserAgent` and then how you reference it from the iOS Library?

[2022-09-01 00:17] jadar commented on #723
@j-petty I have not done it in the `react-native-app-auth` project. I'm just living with the worse user-experience right now. This is likely something that the project maintainers are going to have to address. You could address it in a fork, I suppose. Add some kind of flag in the JS API that is passed to the iOS library, which causes it to use an alternative subclass of `OIDExternalUserAgentIOS`.

[2022-09-01 00:28] j-petty commented on #66
Is this something that is supported as part of the library now?

[2022-09-01 00:48] j-petty commented on #723
It looks like there's a release for [AppAuth-iOS 1.60](https://github.com/openid/AppAuth-iOS/milestone/5) targeted for next week which includes [these changes](https://github.com/openid/AppAuth-iOS/pull/645) to support setting `prefersEphemeralWebBrowserSession` without needing to fork the repo.

Once this release is available react-native-app-auth will need to be updated to support it.

[2022-09-01 00:51] jadar commented on #723
Bueno!

[2022-09-01 19:15] anujraghuvanshi opened #767 "Microsoft Azure Auth Issue - Not getting scope and other requested data."
## Issue
I have used this plugin after facing some Logout-related issues in [Azure auth plugin](https://github.com/vmurin/react-native-azure-auth)

But I got into other issues after using this package.

Here is the issue I am getting.
1. While Logging in, I am sending scopes, for which I expect to have values returned when authorization is successful. I should have refreshToken, and scopes with da

[2022-09-02 06:40] srodrigues37 commented on #358
Hi, same issue with expo and without expo.
Someone have found any solution?

[2022-09-02 10:21] srodrigues37 commented on #358
I try to make the sample running i clone the project change example/package.json to install last react ,react-native and react-native-app-auth and after a while it works.
I remove all stuff outside example folder, and it failed.
I restore only android folder of main folder and it works.
It seems that the react-native-app-auth is not added into android generated code.

[2022-09-03 13:00] semvankoutrik opened #768 ""The certificate for this server is invalid"-error"
When executing the function "authorize" I get the following error-message: "The certificate for this server is invalid". I am running a Duende Identityserver project locally. I installed the certificates using "dotnet https dev-certs --trust"-command and tried both http & https with the config-option dangerouslyAllowInsecureHttpRequests set to true. I also tried localhost and 127.0.0.1 as url, but

[2022-09-04 20:14] anujraghuvanshi commented on #551
I am having the same issue while logging out.
When I do log out, I get `[Error: The operation couldn’t be completed. (org.openid.appauth.general error -3.)]`

I should get a response about whether I was logged out of my provider or The operation was canceled. But every time I am getting the same response.

[2022-09-06 09:12] justin-tay commented on #761
Essentially as stated in the [Why you may want to use this library](https://github.com/FormidableLabs/react-native-app-auth#why-you-may-want-to-use-this-library) section, the main purpose of this library is to leverage native implementations that implements  [RFC 8252 - OAuth 2.0 for Native Apps](https://tools.ietf.org/html/rfc8252) as this is the current best practice for securely implementing OA

[2022-09-06 13:17] HarshavardhanRai commented on #768
Can anyone help in solving this issue?

I am also facing the below issue.

**Connection error fetching discovery document, The certificate for this server is invalid. You might be connecting to the server that is pretending to be**

[2022-09-08 19:00] atitpatel commented on #460
We are experiencing the same issue with very similar stack trace. This too is happening on lot of Android users we have. Here is the stack trace.

[code]

[2022-09-11 18:44] BryceBlankinship commented on #761
Ok so after skimming through the RFC, most of the value this library aims to provide is in providing auth through the user's browser/external user agent? And then of course the other details the RFC mentions. I don't know why, but the documentation just didn't click with me the first time. Maybe I could propose changes as I use this library. Auth is a tricky topic that I have 0 interest in, but ne

[2022-09-11 18:44] #761 closed

[2022-09-12 21:02] OvsTim opened #769 "Keycloak auth error"
## Issue

I have some problems with keycloak authorization on Android and iOS. I registered some deeplinks, but this is not important (i think)
I wrote this code for auth:
![carbon](https://user-images.githubusercontent.com/8073002/189758323-dd200c24-1d5b-49db-82b4-88de0e770205.png)

When i compare auth page urls, it has completely the same values, except state and nonce(and thats correct, i think

[2022-09-13 03:58] el173 commented on #725
**Closes**
The issue was there to pass a non OIDC standard parameter to identify user from the auth server. But as per the OIDC Spec there is no need to pass additional parameters at the moment, to find the used `id_token_hint` could be used.

OIDC Spec for logout : https://openid.net/specs/openid-connect-rpinitiated-1_0-02.html#RPLogout

[2022-09-13 03:59] #725 closed

[2022-09-13 11:56] zeinabzahran commented on #494
Same issue. Any updates?

[2022-09-13 11:57] boostvolt opened #771 "Upgrade to AppAuth 1.6.0"
I would like to use the `prefersEphemeralSession` parameter which was introduced with AppAuth-iOS [1.6.0](https://github.com/openid/AppAuth-iOS/releases/tag/1.6.0). This would require updating the AppAuth-iOS pod to 1.6.0 and adding appropriate support.

[2022-09-13 15:18] janbiasi commented on #723
An issue for AppAuth-iOS 1.6.0 was created, see #771

[2022-09-13 16:01] ealimardaniii opened #772 ""JSON deserialization error" after authorization with token_access_type: 'offline'"
## Issue

I tried to authorize with this config but didn’t work on android an i got this error message: JSON deserialization error

const config = {
  clientId: CLIENT_ID,
  redirectUrl: REDIRECT_URL,
  clientSecret: CLIENT_SECRET_ID,
  scopes: [],
  serviceConfiguration: {
    authorizationEndpoint: `${DROPBOX_AUTH_URL}/authorize`,
    tokenEndpoint: `${DROPBOX_AUTH_URL}/token`,
  },
  additional

[2022-09-13 16:08] OvsTim commented on #769
I try to use only issuer and only Service configuration, and both, nothing changed (

[2022-09-16 08:40] dolly22 opened #773 "Library does not correctly handle app process termination (activity re-creation) within authorize roundtrip"
## Issue

Related to issues #600, #672 and PR #743

TL;DR Library holds some references in instance variables in RNAppAuthModule. When app process restarts (is stopped in background) when custom browser tab is displayed those instance variables are lost when new process is created. It always results in failed authorization, but sometimes application also crashes when accessing those uninitialized

[2022-09-17 21:21] Stefuniverse opened #774 "Not Providing sendClientId on revoke leads to successful operation even though it is failing with cognito"
## Issue

Hi, this is the first time, I report anything to an open source project. So I hope, I am doing it alright ^__^

When revoking a token for Cognito, it is not required to use the `sendClientId: true`-parameter. However, when failing to do so on android (I did not test it for iOS), the operation is still successful, but the token is not revoked. The expected behavior from my point of view w

[2022-09-21 19:25] Geraldojrcg commented on #734
I have the same problem in IOS version. Any suggestion?
[code]

[2022-09-26 12:09] Babsvik opened #776 "Getting the rawNonce for the nonce that gets sent to the IdP"
## Documentation Feedback

I'm currently using `react-native-app-auth` to get an OAuth token from Azure AD, and then use that token to authenticate with [Firebase](https://firebase.google.com/docs/auth/ios/openid-connect#manual) in React Native.

I could not find a way to get the "rawNonce" from `react-native-app-auth` and pass that to Firebase. For now I just set `useNonce` to `false` and then ev

[2022-09-26 13:23] Babsvik commented on #776
Does the nonce get validated when using `react-native-app-auth` with the default config?

If I wanted to handle the nonce myself, would this be the correct way to do it: (?)
[code]

Thanks again!

[2022-09-26 14:23] yannickpschroeder commented on #551
@hollanderbart A delay of 5 seconds does not work for me.

[2022-09-30 14:59] JogiPrasadPakki commented on #539
as @kadikraman said all [fields](https://www.rfc-editor.org/rfc/rfc8693#section-2.2.1l) required for response from oauth2 token endpoint to complete authorize

[2022-10-02 15:30] IKTANIM commented on #621
Any update on this issue, this issue still exists.

[2022-10-04 06:11] IKTANIM commented on #744
Any solution? I am also facing the same issue.

[2022-10-04 12:30] sandergo90 commented on #672
Is there any update about this issue @Jay-A-McBee ?

[2022-10-04 21:01] dzelemba commented on #428
@jpdriver : are you sure that setting `prefersEphemeralWebBrowserSession: true` doesn't remove the iOS consent box? Was just reading https://developer.okta.com/blog/2022/01/13/mobile-sso which is fairly recent and from a reputable source.

[2022-10-05 02:22] jdnichollsc commented on #428
@dzelemba did you read the article?

[2022-10-06 11:28] abhishekganeshdev opened #777 "Getting 'invalid_request' on the first step (Authorization)"
## Issue

I am trying to create a successful connection with NetSuite's integration which uses Oauth2.
Here's my config object:
const config = {
        clientId: '<MY_CLIENT_KEY>,
        clientSecret: '<MY_CLIENT_SECRET>',
        redirectUrl: 'https://saralux.com/', //note: path is required
        scopes: ['restlets'], // whatever scopes you configured in NetSuite OAuth portal
        serviceC

[2022-10-06 15:28] dzelemba commented on #428
@jpdriver : I received an email notification of your response, but I don't seem to see it here which is weird.. but let me respond anyways:

I think my last message maybe didn't have enough context, so let me back up and explain my understanding :) apologies if I'm missing something obvious!

Based on https://developer.okta.com/blog/2022/01/13/mobile-sso my understanding is that if you use `ASWebA

[2022-10-09 18:17] yberstad opened #778 "RuntimeException: Unable to resume activity"
## RuntimeException after upgrading from RN 0.66.3 to RN 0.69

We get this exception for some of our customers, after upgrading from RN 0.66.3 to RN 0.69, and from react-native-app-auth 6.4.0 to 6.4.3.

[code]

These are the events happening before the crash:
![Screenshot 2022-10-09 at 20 01 51](https://user-images.githubusercontent.com/2823722/194772373-0c183f71-c87c-4e9e-b9ee-610b643fbb1e.png)

[2022-10-09 22:37] hrastnik commented on #484
If anyone else is stuck at this step - it's possible to add

[code]
to fix the issue

[2022-10-10 11:21] IKTANIM commented on #585
Any update on this @jpdriver

[2022-10-12 06:22] RiyNov opened #779 "Singpass Example"
Is there any example or tutorial for integrating with Singpass Login?

[2022-10-15 15:58] #588 closed

[2022-10-17 11:29] haphunguyen commented on #772
I have the same issue, and I comment line **token_access_type: 'offline'**, and It works

[2022-10-19 09:22] justin-tay commented on #778
I think this relates to #743

[2022-10-23 18:16] alexhernandez commented on #771
Is there any existing area where this arg can be added?

[2022-10-24 11:16] Ol1va opened #781 "Can't get the result of authorize call"
## Issue

Hello.

I'm trying to use `authorize` but can't get the result of the call. After calling `authorize` auth window pops up, I fill the credentials, it closes but the code after never gets executed (nor any error caught). I tried debugging `OIDAuthorizationService.m` in Xcode and it looks like authorization completes successfully with the token.

[code]

RN version: `0.69.5`
iOS: `14.2`
`A

[2022-10-26 12:34] bitcrumb commented on #781
We've seen reports (including videos) lately of people not being able to login. And it remind me of this issue. They all report that they are able to login via the web flow in the popup, after which it closes. But the app never continues. We also don't see any increased error reporting (which happens in the `catch` block for sure).

I'm gonna 👀 this issue.

[2022-10-27 10:27] #762 closed

[2022-10-27 14:06] 0akl3y commented on #781
I don't know if this is the case here but I had exactly the described behavior due to a missing "/" at the end of the redirectUrl on iOS.

On Android it also worked without "/" at the end.

[2022-10-30 08:38] atitpatel commented on #460
Can this be related to Codepush in any way? We observed that this issue didn't report in a codepush-free version. When we again code-pushed a bundle, it came up. Though the number suggests that it is not happening to all the users. @Jay-A-McBee

[2022-11-01 01:57] el173 commented on #779
@RiyNov Using this [opengovsg/mockpass](https://github.com/opengovsg/mockpass) you can run a mockpass server locally and intergrate with react-native-app-auth

[2022-11-01 10:38] paritosh-yadav commented on #585
Hi @jpdriver ,

Any update on this?

[2022-11-01 15:02] maskowe opened #782 "Using Dropbox provider, redirect error: "This site can't be reached: com.myapp.myapp""
System:
      OS: Windows 10 10.0.19044
    Binaries:
      Node: 14.18.2 - C:\Program Files\nodejs\node.EXE
      Yarn: 1.22.19 - ~\AppData\Roaming\npm\yarn.CMD
      npm: 8.19.2 - C:\Program Files\nodejs\npm.CMD
    npmPackages:
      expo: ^44.0.0 => 44.0.6
      react: 17.0.1 => 17.0.1
      react-dom: 17.0.1 => 17.0.1
      react-native: 0.64.3 => 0.64.3
      react-native-web: 0.17.1 => 0.17

[2022-11-01 22:19] nikonovAnton opened #783 "The registration window opens and immediately closes."
The b2c auth window opens and immediately closes. I configured the identity server config for myself.

Using the example react-native-app-auth/Example.
Can you suggest what is wrong?

I used these commands to run the example
[code]

Only 1 and 2 consoles work.

[code]

https://user-images.githubusercontent.com/84703702/199350346-42859a16-b344-4bad-b4b1-10645ea4db21.mov

[2022-11-02 21:12] enlightenedpie commented on #585
This whole library seems dead. Not much action on new releases, including a fix to add ephemeral sessions in iOS. Someone might need to fork the repo and continue development there.

[2022-11-03 10:12] H4mxa commented on #581
@rush86999 facing same issue have you figured it out?

[2022-11-11 14:07] maskowe commented on #782
I resolved this issued using
const redirectUrl = Linking.createURL() + 'oauth';

[2022-11-11 14:07] #782 closed, assigned to nobody

[2022-11-11 19:50] Mass812 commented on #781
I am having this issue as well on iOS: await authorize(config) // nothing gets executed after

[2022-11-13 19:35] vejbaek commented on #781
I am also experiencing this issue.

I am using React Native 68.1 and xcode 14.1 – it works as expected on Android so seems to be iOS only. The suggestion with the missing dash at the end didn’t make a difference for me at least.

[2022-11-14 06:16] bitcrumb commented on #781
We're still getting multiple reviews per week (almost daily) about this issue, with nothing having changed at our end. Could it have to do with iOS 16?

[2022-11-16 10:17] hannibaldinski commented on #771
+1 😊

[2022-11-16 10:44] vrsttl opened #784 "Cannot seem to access Keychain/Password managers from browser opened on authorization in React Native App"
We have a React Native app that opens a browser window for login via react-native-app-auth. Our stakeholders would like to have the app have access to Keychain and/or PW managers on the device on the login screen both for saving credentials and for filling them. We don't seem to be able to either drive this issue in our code or to find documentation.

## Environment

* **Your Identity Provider**:

[2022-11-18 16:39] xenialugovaya commented on #494
Same issue, double checked configuration. Has anyone figured out how to fix this?

[2022-11-18 22:04] vendeza opened #785 "Is it possible to use HTTPS format for redirect URI?"
In my project need to use `redirectUrl` in the HTTPS format  e.g. "https://my.app.auth".
Because issuer server supports only the https format  for redirect links.

I tried to add the link in build.gradle:

[code]

and test it using `authorize()`. But it opens mobile browser with 502 Bad Gateaway.

Then I tried to add https in Manifest like described  [here](https://github.com/openid/AppAuth-androi

[2022-11-19 06:49] sagar17-create opened #786 "UPDATE WITH UNIX TIME ."
As the package is using the local device time so refreshing won't work if the local device is incorrect so if the packages uses unix time then even if the local device time is incorrect refresh will be act .

[2022-11-21 17:19] achall9 commented on #551
Any update here? Seems like user cancelled error?

[2022-11-21 23:47] alexzobi commented on #728
@Jay-A-McBee what info would help you with this? here is the output from `npx react-native info`
[code]

[2022-11-22 11:07] aureosouza commented on #171
@kadikraman thanks `additionalParameters` helped, but we noticed typescript is breaking, as it doesn't expect this param, could be good to update the `.d.ts` files

[2022-11-23 12:19] badsyntax commented on #771
For us we have no need for SSO support and we want a non shared session, so `prefersEphemeralSession` is exactly what we're looking for. It'd be great to have this feature.

[2022-11-23 14:17] badsyntax commented on #771
Note I've added a PR for this here: https://github.com/FormidableLabs/react-native-app-auth/pull/787

[2022-11-23 15:33] alexhernandez commented on #771
MR looks good. @kadikraman could you review?

[2022-11-23 20:05] #771 closed

[2022-11-23 20:29] badsyntax commented on #723
Support for `prefersEphemeralSession` has been added with #787 and released with [v7.0.0-rc2](https://github.com/FormidableLabs/react-native-app-auth/releases/tag/v7.0.0-rc2)

[2022-11-23 20:59] badsyntax commented on #783
This error can happen for a number of reasons eg incorrect redirect url. If you log the error it will have useful information in it. If you're not getting a useful error on ios, then try it on android.

[2022-11-23 21:53] badsyntax commented on #585
Support for `prefersEphemeralSession` has been added with #787 and released with [v7.0.0-rc2](https://github.com/FormidableLabs/react-native-app-auth/releases/tag/v7.0.0-rc2)

[2022-11-25 06:55] bitcrumb commented on #781
Coming back to this, people are reporting that uninstalling & reinstalling the app fixes the issues. Is there any kind of persisting of data happening by this library that could explain this?

[2022-11-25 11:09] frdrk commented on #783
Are you sure you are not already authorized or denied? If you are this exact thing will happen as you are immediately redirected back to your redirectUri with the oauth response.

[2022-11-29 16:05] vendeza commented on #785
Yes. It's possible for iOS and Android.

If redirectURI is `https://example.com`, for Android need to do:

1. Need to add the new activity in AndroidManifest.xml

[code]

2. Add the configuration as described for example [here](https://github.com/FormidableLabs/react-native-app-auth/blob/main/docs/config-examples/uber.md) :
[code]

3. Add a placeholder in `build.gradle` file:
[code]

[2022-11-29 16:05] #785 closed